{% set flags = [ {'name': 'EUA'|trans, 'file': 'eu','ally':'seek','top':'-8%','left':'18%'},
                 {'name': 'Mexico'|trans, 'file': 'mexico','ally':'seek','top':'24%','left':'-3%'},
                 {'name': 'Colombia'|trans, 'file': 'colombia','ally':'seek','top':'24%','left':'5%'},
                 {'name': 'Ecuador'|trans, 'file': 'ecuador','ally':'seek','top':'38%','left':'29%'},
                 {'name': 'Peru'|trans, 'file': 'peru','ally':'seek','top':'33%','left':'29%'},
                 {'name': 'Chile'|trans, 'file': 'chile','ally':'seek','top':'43%','left':'29%'},
]
%}
{% set flagsB = [{'name': 'Uruguay'|trans, 'file': 'uruguay','ally':'seek','top':'43%','left':'14%'},
                 {'name': 'Argentina'|trans, 'file': 'argentina','ally':'seek','top':'36%','left':'21%'},
                 {'name': 'España'|trans, 'file': 'espania','ally':'seek','top':'21%','left':'49%'},
                 {'name': 'Inglaterra'|trans, 'file': 'inglaterra','ally':'learn','top':'20%','left':'47%'},
                 {'name': 'Australia'|trans, 'file': 'australia','ally':'oes','top':'47%','left':'57%'},
                 {'name': 'Nueva Zelanda'|trans, 'file': 'nueva','ally':'oes','top':'65%','left':'70%'},
]
%}


{% extends 'base.html.twig' %}

{% block title %}<title>Scalahed - Higher Education</title>{% endblock %}

{% block body %}


    <section  class="promote-education home_animate">
        <div class="container ">
            <section class="start_animation">
                <div class="row m-md-t-5 m-t-interior position-relative">
                    <div class="col-md-17 offset-md-3 m-t-5 m-b-3 position-relative order-md-0 order-1 a-opacity h-a-1">
                        <img src="{{ asset('build/images/home/woman-laptop.svg') }}" alt="" class="img-fluid"/>
                    </div>
                    <div class="col-20 mx-auto title order-md-1 order-0 ">

                        <h1 class="text-primary a-opacity-l  h-a-2 overflow-hidden" >
                            {% trans %}
                                Impulsamos
                                la educación virtual
                            {% endtrans %}
                        </h1>

                    </div>
                    <div class="col-20 mx-auto sub-title text-primary  order-md-2 order-2 text-dark a-opacity-r  h-a-3" id="home-2">
                        {% trans %}
                            El mundo ha cambiado
                            y exige otras formas
                            de enseñar y aprender.
                        {% endtrans %}

                    </div>
                </div>
            </section>
            <div class="row a-opacity-t  h-a-4 ga-intro"  >
                <div class="col-md-10 offset-md-2 col-22 offset-1 m-t-15 m-md-t-0 ga-higher">
                    <h4 class="text-primary text-md-end " >
                        {% trans %}
                            La tecnología permite ampliar
                            la frontera educativa y llevar
                            la oferta académica, con alta calidad, a lugares inesperados.
                        {% endtrans %}
                    </h4>
                </div>
                <div class="col-md-10 offset-md-1 col-22 offset-1 m-t-7 m-md-t-0 m-b-5 m-md-b-0 text-dark text-justify">
                    <p>
                        {% trans %}
                            A través de la educación virtual su institución puede llegar a aquellos que no logran acceder a un programa presencial ya sea por falta de tiempo, recursos, ubicación, compromisos laborales o familiares, entre otros.
                        {% endtrans %}
                    </p>
                    <p class="m-t-7 m-md-t-0">
                        {% trans %}
                            Es una alternativa para fomentar el acceso a la educación superior y potenciar el desarrollo.
                        {% endtrans %}
                    </p>
                </div>
            </div>

            <div class="row m-t-5 position-relative" id="home-3">
                <div class="col-md-24 p-0">
                    <img src="{{ asset('build/images/home/lap.svg') }}" alt="" class="img-fluid p-0 img-custom m-t-5 m-md-t-0  a-opacity  h-a-5"/>
                </div>
                <div class="scala-higher col-22 offset-1">
                    <h4 class="text-primary a-opacity-r  h-a-6">
                        {% trans %}
                            Scala Higher Education, <br>
                            tiene el propósito de promover la educación superior en Latinoamérica y el mundo.
                        {% endtrans %}
                    </h4>
                </div>
            </div>
        </div>
    </section>

    <section  class="accompany position-relative " id="home-4">
        <div class="col bg-contain">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 container-txt d-flex order-md-0 order-1 ">
                        <div class="row  align-items-center h-100">
                            <div class="col-md-22 offset-md-2 col-22 offset-1  a-opacity-l  h-a-7" >
                                <h4 class="text-secondary m-t-20 m-md-t-10 ">
                                    {% trans %}
                                        Acompañamos a las universidades
                                        a incursionar en la virtualidad para incrementar el acceso de millones de personas a la educación superior.
                                    {% endtrans %}
                                </h4>
                                <p class="text-white m-t-5 m-md-t-2 m-b-20 fw-300">
                                    {% trans %}
                                        Gracias a un modelo innovador y flexible que hemos construido a través de los años, desarrollamos las mejores prácticas para la transformación, crecimiento y posicionamiento de su universidad, con principios de calidad, eficiencia y sostenibilidad.
                                    {% endtrans %}
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-11 offset-md-1 p-0 order-md-1 order-0 a-opacity-r  h-a-7" >
                        <img src="{{ asset('build/images/home/pareja.svg') }}" alt="" class="img-fluid"/>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section  class="international ga-international col position-relative bg-secondary" id="home-5">
        <div class="container">
            <div class="row">
                <div class="col-md-16 offset-md-4 col-22 offset-1 title a-opacity-t  h-a-8" >
                    <h2 class="text-center text-primary ">
                        {% trans %}
                            Somos un equipo latinoamericano
                            con una amplia trayectoria internacional
                        {% endtrans %}
                    </h2>
                </div>
                <div class="col-md-18 mx-auto m-md-t-2  m-t-7 position-relative " id="home-6">
                    <div class="row a-opacity  h-a-9">
                        <div class="col-24">
                            <img src="{{ asset('build/images/home/map.svg') }}" alt="" class="img-fluid map"/>
                        </div>
                        <div class="container-ally col-12 mx-auto">
                            <img src="{{ asset('build/images/allies/seek.svg') }}" alt="" class=" ally"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-21 mx-auto m-t-2 m-b-5">
                    <div class="row content-flags a-opacity  h-a-9" >
                        <div class="col-md-12 offset-md-0 p-0 p-0 m-t-3 m-md-t-0 " id="home-7">
                            <ul class="flags">
                                {% for flag in flags %}
                                    <li class=" position-relative">
                                        <span class="flag {{flag.file}}">
                                            <div class="flag-img">
                                                <img src="{{ asset('build/images/flags/'~flag.file~'.svg') }}" alt="{{flag.name}}" class="img-fluid"
                                                     data-img="{{ asset('build/images/maps/'~flag.file~'.svg') }}"
                                                     data-top="{{flag.top}}"
                                                     data-left="{{flag.left}}"
                                                     data-ally="{{ asset('build/images/allies/'~flag.ally~'.svg') }}" />
                                            </div>
                                        </span>
                                        <p class="text-primary m-t-1">
                                            {{flag.name}}
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-12 offset-md-0  p-0 m-t-3 m-md-t-0">
                            <ul class="flags">
                                {% for flag in flagsB %}
                                    <li class=" position-relative">
                                        <span class="flag {{flag.file}}">
                                            <div class="flag-img">
                                                <img src="{{ asset('build/images/flags/'~flag.file~'.svg') }}" alt="{{flag.name}}" class="img-fluid"
                                                     data-img="{{ asset('build/images/maps/'~flag.file~'.svg') }}"
                                                     data-top="{{flag.top}}"
                                                     data-left="{{flag.left}}"
                                                     data-ally="{{ asset('build/images/allies/'~flag.ally~'.svg') }}" />
                                            </div>
                                        </span>
                                        <p class="text-primary m-t-1">
                                            {{flag.name}}
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 offset-md-2 col-22 offset-1 m-b-5 m-md-t-0 m-t-7 a-opacity-t  h-a-10 ">
                    <h4 class="text-primary text-md-end">
                        {% trans %}
                            Nuestra diversidad cultural se suma al compromiso de mejorar nuestra región y llevar educación a todas las personas. 
                        {% endtrans %}
                    </h4>
                </div>
                <div class="col-md-10 offset-md-1 col-22 offset-1 text-dark text-justify m-md-b-5 m-b-15 a-opacity-t  h-a-10 ">
                    <p>
                        {% trans %}
                            De esta manera podemos comprender mejorar las necesidades de cada país, sus universidades y estudiantes desde una perspectiva individual y colectiva. 
                        {% endtrans %}
                    </p>
                    <p class="m-t-5 m-md-t-0">
                        {% trans %}
                            Con la experiencia adquirida desde hace doce años, podemos ser el mejor aliado institucional para fortalecer su operación a nivel local y proyectarla internacionalmente.
                        {% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </section>
    {#<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"><iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/x82j37s?autoplay=1" width="100%" height="100%"   allow="autoplay" allowfullscreen></iframe></div>
    <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"><iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="https://www.dailymotion.com/embed/video/x827n41?autoplay=1" width="100%" height="100%"   allow="autoplay" allowfullscreen></iframe></div>#}



    <section class="news-wrap ga-news">
        <div class="container" id="home-8">
            <div class="row a-opacity-t h-a-11">
                <div class="col-md-20 offset-md-0 col-22 offset-1 m-t-15 m-md-t-0">
                    <h2 class="text-primary m-t-4 text-md-start text-center">
                        {% trans %}
                            Últimas Noticias
                        {% endtrans %}
                    </h2>
                </div>
            </div>
            <div class="row a-opacity-t h-a-11">
                {% include 'post_view/post_list.html.twig' %}
            </div>
            <div class="row m-t-10 linkedin ga-linkedin a-opacity h-a-12" id="home-9">
                <div class="col-md-10  offset-md-0 col-11 offset-1 m-md-t-0 ">
                    <h2 class="text-primary  text-md-start text-center">
                        LinkedIn
                    </h2>
                </div>
                <div class="col-md-5 col-11 offset-md-9 d-flex align-items-center">
                    <a href="#" class="btn btn-primary">
                        {% trans %}
                            Ver más publicaciones
                        {% endtrans %}
                    </a>
                </div>
            </div>
            <div class="row   m-b-7 a-opacity h-a-12">
                {% for post in linkedin %}
                    {#{{post.code}}#}
                    <div class="col-md-8 m-t-3" onclick="gtag('event', 'Acción LinkedIn', {'event_category': 'LinkedIn Post','event_label': '{{post.name}}'});">
                        <iframe src="{{post.code}}" allowfullscreen="" title="Publicación integrada" width="100%" height="700px" frameborder="0"></iframe>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>




</div>
{% endblock %}
