{% extends 'base.html.twig' %}

{% block title %}<title>Scalahed - Higher Education</title>{% endblock %}

{% block body %}
    <section class="new-wrap m-t-interior  m-md-t-10">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-1 offset-md-0 return  d-none d-sm-block ">
                    <a href="{{ path('blog')}}" class="d-flex align-items-center text-primary ">
                        <img src="{{ asset('build/images/template/regresa.png') }}" alt="" class="img-fluid m-r-1"/>
                        {% trans %}
                            REGRESAR
                        {% endtrans %}
                    </a>
                </div>

                <div class="col-md-24 offset-md-0 col-22 offset-1  text-center m-t-1 m-b-3 m-md-b-0 ">
                    <img src="{{ vich_uploader_asset(post) }}" class='w-100 h-auto '/>

                </div>
                <div class="col-md-16 offset-md-0 col-22 offset-1 m-t-3 m-b-1 ">
                    <span class="article" style="background: #{{ post.categories[0].color is null ? '':post.categories[0].color }}">
                        <a href="{{ path('category_view',{url: post.categories[0].url}) }}" class="">
                            {{ app.request.locale == 'es' ? post.categories[0].nameEsp: post.categories[0].name }}
                        </a>
                    </span>
                    <h2 class="text-dark text-md-start   m-t-5 m-md-t-1">
                        {% if app.request.locale == 'es' %}
                            {{post.tituloEsp}}
                        {% else %}
                            {{post.tituloEng}}
                        {% endif %}

                    </h2>
                    <hr class="d-block d-sm-none m-t-2">
                    <p class="text-primary m-t-2">
                        {{post.fecha|date('d-m-Y')}}
                    </p>
                </div>
                <div class="col-md-16 offset-md-0 col-22 offset-1 p-r-3 ">
                    <section class="content-wrap ">
                        {% if app.request.locale == 'es' %}
                            {{post.contenidoEsp|raw}}
                        {% else %}
                            {{post.contenidoEng|raw}}
                        {% endif %}
                    </section>
                    <section class="second-wrap m-b-5 d-flex align-items-center d-none d-sm-block">
                        <span class="m-r-1">Temas:</span>
                        {% for categorie in post.categories[1:] %}
                            <span class="article" style="background: #{{ categorie.color is null ? '':categorie.color }}">
                                <a href="{{ path('category_view',{url: categorie.url}) }}" class="">
                                    {{ app.request.locale == 'es' ? categorie.nameEsp: categorie.name }}
                                </a>
                            </span>
                        {% endfor %}
                    </section>
                    <section class=" m-y-4 d-block d-sm-none timeline">
                        <div class="row">
                            <div class="col-12">
                                {% if previous is not empty %}
                                    <a href="{{ path('post_view',{url: previous[0].url}) }}" class="text-primary m-b-1">
                                        {% trans %}
                                            ANTERIOR
                                        {% endtrans %}
                                    </a>
                                {%endif%}


                            </div>
                            <div class="col-12 text-end">
                                {% if next is not empty %}
                                    <a href="{{ path('post_view',{url: next[0].url}) }}" class="text-primary m-b-1">
                                        {% trans %}
                                            SIGUIENTE
                                        {% endtrans %}
                                    </a>
                                {%endif%}
                            </div>
                        </div>

                    </section>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-24">
                            <h4 class="m-t-3 m-l-3 m-md-l-0">
                                {% trans %}
                                    Última noticia
                                {% endtrans %}
                            </h4>
                        </div>
                        {% for post in posts %}
                            <div class="col-md-24 offset-md-0 col-22 offset-1 m-t-10 m-md-t-2">
                                <div class="row h-100">
                                    <div class="col-24 position-relative">
                                        <div class="container-new order-md-0 order-0">
                                            <a href="{{ path('post_view',{url: post.url}) }}" class="">
                                                <img src="{{ vich_uploader_asset(post) }}" class='img-fluid '/>
                                            </a>
                                        </div>
                                        <div class="container-categories m-md-t-2 m-y-5 order-md-1 order-1">
                                            <span class="article m-t-1" style="background: #{{ post.categories[0].color is null ? '':post.categories[0].color }}">
                                                <a href="{{ path('category_view',{url: post.categories[0].url}) }}" class="">
                                                    {{ app.request.locale == 'es' ? post.categories[0].nameEsp: post.categories[0].name }}
                                                </a>
                                            </span>
                                        </div>
                                        <h4 class=" title-new m-t-1 order-md-2 order-2">
                                            <a href="{{ path('post_view',{url: post.url}) }}" class="">
                                                {% if app.request.locale == 'es' %}
                                                    {{post.tituloEsp}}
                                                {% else %}
                                                    {{post.tituloEng}}
                                                {% endif %}
                                            </a>
                                        </h4>

                                        <hr class="d-block d-sm-none m-y-2 ">

                                        <p class="text-primary date-new">
                                            {{post.fecha|date('d-m-Y')}}
                                        </p>

                                    </div>

                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-md-24 offset-md-0 col-22 offset-1 m-t-10 m-md-t-2 list-category  m-y-5 m-md-y-0">

                            <h4 class=" m-t-2 m-md-b-1 m-b-4">
                                Categorías
                            </h4>

                            {% for item in category %}
                                <a href="{{ path('category_view',{url: item.url}) }}" class="">
                                    {{ app.request.locale == 'es' ? item.nameEsp: item.name }}
                                </a><br>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
            <section class=" d-none d-sm-block">
                <div class="row m-b-5 ">
                    <div class="col-md-8 col-12">
                        {% if previous is not empty %}
                            <a href="{{ path('post_view',{url: previous[0].url}) }}" class="text-primary m-b-1">
                                {% trans %}
                                    ANTERIOR
                                {% endtrans %}
                            </a>
                            <section class="d-none d-sm-block">
                                <div class="container-new">
                                    <a href="{{ path('post_view',{url: previous[0].url}) }}" class="">
                                        <img src="{{ vich_uploader_asset(previous[0]) }}" class='img-fluid '/>
                                    </a>
                                </div>
                                <div class="container-categories m-t-2">

                                    {% if previous[0] is defined %}
                                        {% set firstItem = previous[0].categories[0] %}
                                        <span class="article" style="background: #{{ firstItem.color is null ? '':firstItem.color }}">
                                            <a href="{{ path('category_view',{url: firstItem.url}) }}" class="">
                                                {{ app.request.locale == 'es' ? firstItem.nameEsp: firstItem.name }}
                                            </a>
                                        </span>
                                    {% endif %}



                                </div>
                                <h4 class=" title-new m-t-1">
                                    <a href="{{ path('post_view',{url: previous[0].url}) }}" class="">
                                        {% if app.request.locale == 'es' %}
                                            {{previous[0].tituloEsp}}
                                        {% else %}
                                            {{previous[0].tituloEng}}
                                        {% endif %}
                                    </a>
                                </h4>
                            </section>
                            {#<p class="text-primary date-new">
                                {{previous[0].fecha|date('d-m-Y')}}
                            </p>#}
                        {% endif %}
                    </div>
                    <div class="col-md-8 offset-md-7 col-12 ">
                        {% if next is not empty %}
                            <div class="w-100 text-end">
                                <a href="{{ path('post_view',{url: next[0].url}) }}" class="text-primary m-b-1">
                                    {% trans %}
                                        SIGUIENTE
                                    {% endtrans %}
                                </a>
                            </div>
                            <section class="d-none d-sm-block">
                                <div class="container-new">
                                    <a href="{{ path('post_view',{url: next[0].url}) }}" class="">
                                        <img src="{{ vich_uploader_asset(next[0]) }}" class='img-fluid '/>
                                    </a>
                                </div>
                                <div class="container-categories m-t-2">
                                    {% if next[0] is defined %}
                                        {% set firstItem = next[0].categories[0]%}
                                        <span class="article m-t-1" style="background: #{{ firstItem.color is null ? '':firstItem.color }}">
                                            <a href="{{ path('category_view',{url: firstItem.url}) }}" class="">
                                                {{ app.request.locale == 'es' ? firstItem.nameEsp: firstItem.name }}
                                            </a>
                                        </span>
                                    {% endif %}
                                </div>
                                <h4 class=" title-new m-t-1">
                                    <a href="{{ path('post_view',{url: next[0].url}) }}" class="">

                                        {% if app.request.locale == 'es' %}
                                            {{next[0].tituloEsp}}
                                        {% else %}
                                            {{next[0].tituloEng}}
                                        {% endif %}

                                    </a>
                                </h4>
                            </section>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </section>


{% endblock %}
