
{% for post in posts %}

    <div class="col-md-12 offset-md-0 col-22 offset-1 m-t-10 m-md-t-3">
        <div class="row h-100">
            <div class="col-24 position-relative">
                <div class="container-categories">
                    <span class="article m-t-1" style="background: #{{ post.categories[0].color is null ? '':post.categories[0].color }}">
                        <a href="{{ path('category_view',{url: post.categories[0].url}) }}" class="">
                            {{ app.request.locale == 'es' ? post.categories[0].nameEsp: post.categories[0].name }}
                        </a>
                    </span>
                </div>

                <h4 class="m-t-7 m-md-t-0  title-new">
                    <a href="{{ path('post_view',{url: post.url}) }}" class="" onclick="gtag('event', 'Ir a Post', {'event_category': 'Posts','event_label': '{{post.tituloEsp}}'});">
                        {{ app.request.locale == 'es' ? post.tituloEsp: post.tituloEng }}
                    </a>
                </h4>
                <p class="description-new">
                    {{ app.request.locale == 'es' ? post.description: post.descriptionEng }}
                </p>
                <hr>
                <p class="text-primary date-new">
                    {{post.fecha|date('d-m-Y')}}
                </p>
                <div class="container-new">

                    <a href="{{ path('post_view',{url: post.url}) }}" class="" onclick="gtag('event', 'Ir a Post', {'event_category': 'Posts','event_label': '{{post.tituloEsp}}'});">
                        <img src="{{ vich_uploader_asset(post, 'imageFile') }}" class='img-fluid '/>
                    </a>
                </div>
            </div>

        </div>
    </div>

{% endfor %}
