


{#<div class="container-fluid fixed-top">#}
<div class='row fixed-top {{ app.request.pathinfo == '/' ? 'primary':'primary' }} container-menu '>
    {% include 'default/_menu.html.twig' %}
    <div class="col">
        <div class='container position-relative '>
            <div class="row  ">
                <div class="col-md-6 col-12 offset-1  m-y-4 m-md-y-1 ">
                    <a class="" href="{{ path("home")}}" onclick="gtag('event', 'Abrir enlace', {'event_category': 'Enlaces Header','event_label': 'Home'});">
                        <svg width="488" height="88" viewBox="0 0 488 88" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
                            <path d="M24.7584 87.9966C19.5283 87.9966 14.9106 87.3273 10.9085 85.9922C6.90316 84.6571 3.26587 82.4486 0 79.3701L5.88258 73.5377C8.16802 75.947 10.865 77.6903 13.9703 78.7745C17.0755 79.8587 20.6292 80.4007 24.6346 80.4007C29.781 80.4007 33.7428 79.5307 36.5235 77.784C39.3008 76.0373 40.6895 73.3771 40.6895 69.8034C40.6895 64.5265 37.3366 61.6019 30.6409 61.0297L20.7128 60.1764C14.9106 60.1764 10.4568 58.7409 7.3549 55.8733C4.24964 53.0056 2.69702 49.027 2.69702 43.9408C2.69702 38.4497 4.73819 34.1231 8.82387 30.9643C12.9095 27.8089 18.2601 26.2295 24.8788 26.2295C34.0273 26.2295 41.2584 28.3945 46.5721 32.7244L40.81 38.4832C36.644 35.2976 31.2901 33.7015 24.755 33.7015C20.3448 33.7015 16.9919 34.5648 14.7064 36.2914C12.4177 38.0181 11.2733 40.4875 11.2733 43.6932C11.2733 46.4906 12.0897 48.6689 13.726 50.2316C15.3589 51.7943 18.056 52.5739 21.8137 52.5739L31.4976 53.4272C37.2162 53.9191 41.6097 55.4048 44.6715 57.8877C47.7366 60.3705 49.2691 64.2989 49.2691 69.6729C49.2691 75.4551 47.064 79.9524 42.6504 83.1714C38.2401 86.3904 32.2739 87.9966 24.7584 87.9966Z" fill="white"/>
                            <path d="M86.8936 87.997C79.0502 87.997 72.6355 85.32 67.6531 79.9695C62.6673 74.619 60.1777 66.9997 60.1777 57.1118C60.1777 47.1435 62.6472 39.5042 67.5929 34.1938C72.5352 28.8834 78.9699 26.2266 86.8969 26.2266C91.2269 26.2266 94.8207 26.859 97.6817 28.1272C100.539 29.3954 103.564 31.7411 106.753 35.1742L100.747 40.8125C98.458 38.2795 96.293 36.5227 94.2519 35.5423C92.2073 34.5619 89.7579 34.07 86.8969 34.07C80.7701 34.07 76.2528 36.1346 73.355 40.2604C70.4538 44.3863 69.0049 50.0045 69.0049 57.1118C69.0049 60.9532 69.2894 64.0986 69.8616 66.548C70.4338 69.0007 71.8827 71.8784 74.2116 75.1878C76.5405 78.4972 80.7668 80.1502 86.8969 80.1502C89.8382 80.1502 92.291 79.6583 94.2519 78.6779C96.2127 77.6974 98.3777 75.9006 100.747 73.2872L106.753 79.046C103.648 82.3988 100.626 84.7244 97.6817 86.0328C94.737 87.3445 91.1432 87.997 86.8936 87.997Z" fill="white"/>
                            <path d="M154.671 87.3842V81.6254C152.302 83.951 149.809 85.594 147.195 86.5577C144.579 87.518 141.269 87.9999 137.267 87.9999C133.018 87.9999 129.608 87.5883 127.035 86.7752C124.461 85.9587 121.928 84.2823 119.435 81.7492C116.943 79.2162 115.698 75.3748 115.698 70.2284C115.698 64.8377 117.495 60.588 121.092 57.4828C124.686 54.3775 129.835 52.8249 136.534 52.8249H154.674V47.0661C154.674 42.5722 153.476 39.2428 151.087 37.0778C148.694 34.9128 144.786 33.8287 139.355 33.8287C135.383 33.8287 132.342 34.3172 130.237 35.2976C128.129 36.2781 126.141 38.075 124.281 40.6917L118.03 35.1772C120.643 31.744 123.565 29.3983 126.794 28.1301C130.019 26.8653 134.209 26.2295 139.355 26.2295C155.45 26.2295 163.501 32.9419 163.501 46.3701V87.3876H154.671V87.3842ZM154.671 59.4403H137.756C128.768 59.4403 124.274 62.9939 124.274 70.1045C124.274 76.9676 128.888 80.4007 138.124 80.4007C141.229 80.4007 143.802 80.1565 145.847 79.6646C147.888 79.176 149.869 78.0116 151.79 76.1712C153.707 74.3341 154.671 70.9244 154.671 65.9386V59.4403Z" fill="white"/>
                            <path d="M196.949 87.3854C191.883 87.3854 188.065 85.9332 185.488 83.0287C182.915 80.1242 181.627 76.2159 181.627 71.307V0H190.451V70.949C190.451 73.9773 191.043 76.2058 192.228 77.638C193.412 79.0701 195.517 79.7862 198.539 79.7862H203.317V87.3854H196.949Z" fill="white"/>
                            <path d="M249.407 87.3842V81.6254C247.038 83.951 244.545 85.594 241.932 86.5577C239.315 87.518 236.006 87.9999 232.004 87.9999C227.754 87.9999 224.344 87.5883 221.771 86.7752C219.198 85.9587 216.665 84.2823 214.172 81.7492C211.679 79.2162 210.434 75.3748 210.434 70.2284C210.434 64.8377 212.231 60.588 215.828 57.4828C219.422 54.3775 224.572 52.8249 231.271 52.8249H249.41V47.0661C249.41 42.5722 248.212 39.2428 245.823 37.0778C243.431 34.9128 239.522 33.8287 234.092 33.8287C230.12 33.8287 227.078 34.3172 224.973 35.2976C222.865 36.2781 220.878 38.075 219.017 40.6917L212.766 35.1772C215.38 31.744 218.301 29.3983 221.53 28.1301C224.756 26.8653 228.945 26.2295 234.092 26.2295C250.187 26.2295 258.238 32.9419 258.238 46.3701V87.3876H249.407V87.3842ZM249.407 59.4403H232.492C223.504 59.4403 219.01 62.9939 219.01 70.1045C219.01 76.9676 223.625 80.4007 232.86 80.4007C235.965 80.4007 238.539 80.1565 240.583 79.6646C242.624 79.176 244.605 78.0116 246.526 76.1712C248.443 74.3341 249.407 70.9244 249.407 65.9386V59.4403Z" fill="white"/>
                            <path d="M308.334 49.5923V36.84H294.213V49.5923H292.158V22.4883H294.213V35.013H308.334V22.4883H310.388V49.5923H308.334Z" fill="white"/>
                            <path d="M318.763 49.5884V22.4844H320.818V49.5884H318.763Z" fill="white"/>
                            <path d="M346.25 43.8398C345.918 44.8805 345.349 45.8341 344.536 46.6941C343.646 47.6846 342.582 48.4508 341.341 48.9963C340.096 49.5417 338.791 49.8161 337.419 49.8161C336.124 49.8161 334.893 49.5752 333.728 49.0933C332.56 48.6115 331.533 47.9255 330.643 47.0388C330.034 46.4298 329.559 45.8007 329.217 45.1549C328.876 44.5091 328.622 43.7662 328.458 42.9297C328.291 42.0931 328.197 41.116 328.17 39.9984C328.143 38.8808 328.133 37.5624 328.133 36.0399C328.133 34.5174 328.147 33.2023 328.17 32.1014C328.197 30.9972 328.291 30.0268 328.458 29.1903C328.622 28.3537 328.876 27.6042 329.217 26.945C329.559 26.2858 330.034 25.65 330.643 25.041C331.533 24.1543 332.56 23.4683 333.728 22.9864C334.896 22.5046 336.127 22.2637 337.419 22.2637C338.614 22.2637 339.721 22.4544 340.748 22.8359C341.776 23.2173 342.696 23.7494 343.509 24.4353C344.322 25.1213 344.998 25.9512 345.543 26.9282C346.089 27.9053 346.464 28.9895 346.668 30.1841H344.613C344.208 28.3069 343.362 26.8212 342.084 25.7303C340.802 24.6395 339.249 24.094 337.419 24.094C336.455 24.094 335.528 24.2714 334.642 24.6261C333.752 24.9808 332.969 25.5028 332.283 26.1854C331.801 26.6672 331.419 27.1826 331.142 27.728C330.86 28.2734 330.653 28.9226 330.512 29.6688C330.372 30.4183 330.285 31.305 330.248 32.3323C330.208 33.3596 330.191 34.5977 330.191 36.0432C330.191 37.4888 330.211 38.7269 330.248 39.7541C330.285 40.7814 330.375 41.6715 330.512 42.4177C330.653 43.1672 330.86 43.813 331.142 44.3585C331.419 44.9039 331.801 45.4192 332.283 45.9011C332.969 46.587 333.755 47.1057 334.642 47.4604C335.528 47.8151 336.455 47.9924 337.419 47.9924C338.483 47.9924 339.514 47.7716 340.501 47.3265C341.491 46.8815 342.341 46.229 343.051 45.3657C343.633 44.6295 344.051 43.8432 344.305 43.0066C344.56 42.1701 344.687 41.1662 344.687 39.9984V37.5624H337.416V35.7354H346.741V40.1523C346.741 41.5678 346.577 42.7992 346.25 43.8398Z" fill="white"/>
                            <path d="M370.154 49.5884V36.8361H356.034V49.5884H353.979V22.4844H356.034V35.0091H370.154V22.4844H372.209V49.5884H370.154Z" fill="white"/>
                            <path d="M380.581 49.5884V22.4844H397.024V24.3114H382.635V35.0091H394.892V36.8361H382.635V47.7614H397.024V49.5884H380.581Z" fill="white"/>
                            <path d="M419.333 49.5884L412.862 37.1038H405.403V49.5884H403.349V22.4844H413.665C414.756 22.4844 415.776 22.645 416.73 22.9595C417.68 23.2774 418.507 23.7392 419.203 24.3482C419.902 24.9572 420.444 25.7201 420.839 26.6336C421.231 27.5471 421.428 28.5878 421.428 29.7556C421.428 31.7867 420.863 33.4297 419.735 34.6845C418.604 35.9393 417.088 36.7357 415.187 37.0637L421.733 49.5884H419.333ZM418.932 27.3564C418.641 26.6704 418.229 26.1016 417.694 25.6432C417.158 25.1847 416.526 24.8501 415.79 24.636C415.054 24.4218 414.254 24.3114 413.391 24.3114H405.396V35.2735H413.391C414.254 35.2735 415.054 35.1664 415.79 34.9489C416.526 34.7347 417.158 34.3968 417.694 33.9417C418.226 33.4866 418.641 32.9144 418.932 32.2284C419.223 31.5425 419.37 30.7327 419.37 29.7924C419.37 28.8555 419.223 28.0424 418.932 27.3564Z" fill="white"/>
                            <path d="M292.159 87.0318V59.9277H308.602V61.7547H294.213V72.4525H306.47V74.2795H294.213V85.2047H308.602V87.0318H292.159Z" fill="white"/>
                            <path d="M333.4 76.0482C333.387 77.1023 333.3 78.1429 333.136 79.1702C332.972 80.1975 332.711 81.1813 332.356 82.1215C332.002 83.0618 331.483 83.8716 330.797 84.5575C329.984 85.3707 329.007 85.983 327.866 86.4046C326.725 86.8229 325.443 87.0337 324.021 87.0337H314.923V59.9297H324.021C326.889 59.9297 329.147 60.7528 330.797 62.4025C331.48 63.0885 332.002 63.8614 332.356 64.7248C332.711 65.5881 332.972 66.4815 333.136 67.4084C333.3 68.3353 333.39 69.2856 333.4 70.2627C333.414 71.2398 333.421 72.1834 333.421 73.0969C333.421 74.0104 333.414 74.9942 333.4 76.0482ZM331.346 70.681C331.332 69.831 331.272 68.9945 331.158 68.168C331.041 67.3448 330.847 66.5551 330.57 65.8089C330.292 65.0594 329.884 64.4069 329.352 63.8481C328.565 63.0349 327.668 62.4828 326.668 62.1917C325.664 61.9006 324.617 61.7534 323.526 61.7534H316.981V85.2034H323.526C324.617 85.2034 325.664 85.0561 326.668 84.765C327.668 84.4739 328.565 83.9218 329.352 83.1087C329.884 82.5498 330.292 81.8605 330.57 81.034C330.847 80.2109 331.045 79.3342 331.158 78.4073C331.272 77.4804 331.336 76.5535 331.346 75.6299C331.356 74.7064 331.366 73.8598 331.366 73.0969C331.366 72.334 331.359 71.5309 331.346 70.681Z" fill="white"/>
                            <path d="M358.239 81.87C357.784 82.9742 357.142 83.9246 356.319 84.7243C355.495 85.524 354.515 86.1464 353.387 86.5881C352.256 87.0332 351.008 87.254 349.636 87.254C348.268 87.254 347.016 87.0298 345.889 86.5881C344.758 86.1464 343.78 85.524 342.957 84.7243C342.134 83.9246 341.492 82.9742 341.037 81.87C340.581 80.7658 340.351 79.5545 340.351 78.2361V59.9258H342.405V77.9684C342.405 79.086 342.576 80.1066 342.92 81.0335C343.262 81.9604 343.75 82.7467 344.386 83.3925C345.018 84.0383 345.781 84.5403 346.672 84.8949C347.558 85.2496 348.549 85.427 349.64 85.427C350.73 85.427 351.721 85.2496 352.608 84.8949C353.494 84.5403 354.257 84.0383 354.893 83.3925C355.525 82.7467 356.014 81.957 356.359 81.0335C356.7 80.1066 356.871 79.086 356.871 77.9684V59.9258H358.925V78.2361C358.925 79.5545 358.698 80.7658 358.239 81.87Z" fill="white"/>
                            <path d="M383.211 82.6331C382.679 83.6102 382.013 84.44 381.214 85.126C380.414 85.8119 379.5 86.3373 378.473 86.7054C377.446 87.0735 376.335 87.2575 375.144 87.2575C373.849 87.2575 372.617 87.0166 371.453 86.5347C370.285 86.0529 369.258 85.3669 368.368 84.4802C367.759 83.8712 367.283 83.2421 366.942 82.5963C366.601 81.9505 366.347 81.2076 366.183 80.3711C366.015 79.5345 365.922 78.5574 365.898 77.4398C365.871 76.3222 365.861 75.0038 365.861 73.4813C365.861 71.9588 365.875 70.6471 365.898 69.5428C365.925 68.4386 366.019 67.4682 366.183 66.6317C366.347 65.7951 366.601 65.0456 366.942 64.3864C367.283 63.7272 367.759 63.0914 368.368 62.4824C369.258 61.5957 370.285 60.9097 371.453 60.4279C372.621 59.946 373.852 59.7051 375.144 59.7051C376.362 59.7051 377.486 59.8891 378.513 60.2572C379.541 60.6253 380.447 61.1506 381.234 61.8366C382.02 62.5226 382.679 63.3524 383.211 64.3295C383.743 65.3066 384.125 66.4041 384.352 67.6221H382.258C381.853 65.7449 381.02 64.2592 379.765 63.1684C378.51 62.0775 376.967 61.5321 375.14 61.5321C374.177 61.5321 373.25 61.7094 372.363 62.0641C371.473 62.4188 370.69 62.9408 370.004 63.6235C369.522 64.1053 369.141 64.6206 368.863 65.166C368.582 65.7115 368.374 66.3606 368.234 67.1068C368.093 67.8564 368.006 68.7431 367.969 69.7704C367.929 70.7977 367.913 72.0357 367.913 73.4813C367.913 74.9268 367.933 76.1649 367.969 77.1922C368.006 78.2195 368.097 79.1062 368.234 79.8558C368.374 80.6053 368.582 81.2511 368.863 81.7965C369.141 82.342 369.522 82.8573 370.004 83.3391C370.69 84.0251 371.476 84.5437 372.363 84.8984C373.25 85.2531 374.177 85.4305 375.14 85.4305C376.967 85.4305 378.52 84.8851 379.805 83.7942C381.086 82.7034 381.93 81.2176 382.335 79.3404H384.352C384.121 80.5585 383.743 81.656 383.211 82.6331Z" fill="white"/>
                            <path d="M407.003 87.0298L404.644 80.4445H392.005L389.646 87.0298H387.438L397.409 59.9258H399.236L409.208 87.0298H407.003ZM398.323 62.6663L392.651 78.6142H403.994L398.323 62.6663Z" fill="white"/>
                            <path d="M418.764 61.7528V87.0298H416.71V61.7528H408.639V59.9258H426.872V61.7528H418.764Z" fill="white"/>
                            <path d="M432.199 87.0298V59.9258H434.254V87.0298H432.199Z" fill="white"/>
                            <path d="M460.1 77.4359C460.073 78.5535 459.98 79.5306 459.816 80.3672C459.648 81.2037 459.397 81.9466 459.053 82.5924C458.711 83.2382 458.236 83.8673 457.627 84.4763C456.737 85.3663 455.71 86.049 454.545 86.5308C453.378 87.0127 452.146 87.2536 450.851 87.2536C449.556 87.2536 448.325 87.0127 447.16 86.5308C445.992 86.049 444.965 85.363 444.075 84.4763C443.466 83.8673 442.991 83.2382 442.65 82.5924C442.308 81.9466 442.054 81.2037 441.89 80.3672C441.723 79.5306 441.629 78.5535 441.606 77.4359C441.579 76.3183 441.569 74.9999 441.569 73.4774C441.569 71.9549 441.582 70.6432 441.606 69.5389C441.632 68.4347 441.726 67.4643 441.89 66.6278C442.054 65.7912 442.308 65.0417 442.65 64.3825C442.991 63.7233 443.466 63.0875 444.075 62.4785C444.965 61.5918 445.992 60.9058 447.16 60.4239C448.328 59.9421 449.56 59.7012 450.851 59.7012C452.146 59.7012 453.374 59.9421 454.545 60.4239C455.713 60.9058 456.74 61.5918 457.627 62.4785C458.236 63.0875 458.711 63.7233 459.053 64.3825C459.394 65.0417 459.648 65.7912 459.816 66.6278C459.98 67.4643 460.077 68.4347 460.1 69.5389C460.123 70.6432 460.137 71.9549 460.137 73.4774C460.14 74.9999 460.127 76.3216 460.1 77.4359ZM458.025 69.7665C457.989 68.7392 457.898 67.8525 457.758 67.1029C457.617 66.3567 457.41 65.7076 457.129 65.1621C456.847 64.6167 456.469 64.1014 455.988 63.6195C455.302 62.9336 454.515 62.4149 453.628 62.0602C452.738 61.7055 451.815 61.5282 450.851 61.5282C449.887 61.5282 448.961 61.7055 448.074 62.0602C447.184 62.4149 446.401 62.9369 445.715 63.6195C445.233 64.1014 444.851 64.6167 444.574 65.1621C444.293 65.7076 444.085 66.3567 443.945 67.1029C443.804 67.8525 443.717 68.7392 443.68 69.7665C443.64 70.7937 443.623 72.0318 443.623 73.4774C443.623 74.9229 443.643 76.161 443.68 77.1883C443.717 78.2156 443.807 79.1023 443.945 79.8518C444.085 80.6014 444.293 81.2472 444.574 81.7926C444.851 82.338 445.233 82.8534 445.715 83.3352C446.401 84.0212 447.187 84.5398 448.074 84.8945C448.961 85.2492 449.887 85.4266 450.851 85.4266C451.815 85.4266 452.742 85.2492 453.628 84.8945C454.519 84.5398 455.305 84.0178 455.988 83.3352C456.469 82.8534 456.851 82.3414 457.129 81.7926C457.406 81.2472 457.617 80.6014 457.758 79.8518C457.898 79.1023 457.985 78.2156 458.025 77.1883C458.062 76.161 458.082 74.9229 458.082 73.4774C458.082 72.0318 458.066 70.7937 458.025 69.7665Z" fill="white"/>
                            <path d="M485.149 87.0298L469.506 63.466V87.0298H467.451V59.9258H469.506L485.149 83.4126V59.9258H487.204V87.0298H485.149Z" fill="white"/>
                        </svg>
                    </a>
                </div>
                <div class="col-md-17 nav-menu">
                    <div class="row justify-content-end  h-100">
                        <ul class="d-flex justify-content-end h-100">
                            <li class="nav-item">
                                <a class="nav-link "  href="{{ path("about_us")}}" onclick="gtag('event', 'Abrir enlace', {'event_category': 'Enlaces Header','event_label': 'Acerca de'});">{% trans %}Acerca de{% endtrans %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("scala_model")}}" onclick="gtag('event', 'Abrir enlace', {'event_category': 'Enlaces Header','event_label': 'Servicios'});">{% trans %}Servicios{% endtrans %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("allies")}}" onclick="gtag('event', 'Abrir enlace', {'event_category': 'Enlaces Header','event_label': 'Aliados'});">{% trans %}Aliados{% endtrans %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path("blog")}}"  onclick="gtag('event', 'Abrir enlace', {'event_category': 'Enlaces Header','event_label': 'Noticias'});">{% trans %}Noticias{% endtrans %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-primary" onclick="gtag('event', 'Abrir enlace', {'event_category': 'Enlaces Header','event_label': 'Contacto'});" href="{{ path("contactanos")}}" >{% trans %}Contacto{% endtrans %}</a>
                            </li>
                            <li class="nav-item">
                                {% include 'default/_locale_switcher.html.twig' %}
                                {#<a class="nav-link " href="#">ENG</a>#}

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="hamburguer ">
                    <div class="contaiter-line">
                        <div class="lines line-top"></div>
                        <div class="lines line-bottom"></div>
                    </div>
                </div>
                <div class="locale ">
                    {% include 'default/_locale_switcher.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
