{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}
{% set locales = 'en|es'%}
{% set en = 'eng'%}
{% set es = 'esp'%}
{% set applocales=locales|split('|') %}
{% for locale in applocales %}
    {% if locale != app.request.locale %}
        <a class="nav-link text-uppercase color-txt" href="{{ path(route, params|merge({ _locale: locale })) }}">
            {{locale}}
        </a>
    {% endif %}
{% endfor %}