

<div class=" full-menu ">
    <div class=" position-relative">
        <div class="col-md-4 col-12 offset-1 offset-md-2 m-t-2">
            <a class="" href="{{ path("home")}}">
                <img src="{{ asset('build/images/template/logo-h.svg') }}" title="my image" alt="My image" class="img-fluid"/>
            </a>
        </div>
    </div>
    <div class="col-md-6 mx-auto text-center">
        <nav id="menu" class="menu">
            <ul>
                <li class="about">
                    <a class="" href="{{ path("home")}}">
                        {% trans %}
                            Inicio
                        {% endtrans %}
                    </a>
                </li>
                <li class="about">
                    <a class="" href="{{ path("about_us")}}">
                        {% trans %}
                            Acerca de
                        {% endtrans %}
                    </a>
                </li>
                <li class="services">
                    <a class="" href="{{ path("scala_model")}}">
                        {% trans %}
                            Servicios
                        {% endtrans %}
                    </a>
                </li>
                <li class="allies">
                    <a class="" href="{{ path("allies")}}">
                        {% trans %}
                            Aliados
                        {% endtrans %}
                    </a>
                </li>
                <li class="news">
                    <a class="" href="{{ path("blog")}}">
                        {% trans %}
                            Noticias
                        {% endtrans %}
                    </a>
                </li>
                <li class="contact">
                    <a class="" href="{{ path("contactanos")}}">
                        {% trans %}
                            Contacto
                        {% endtrans %}
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="footer-menu">
        <div class="container-fluid text-center">
            <div class="row m-y-2">
                <div class="col-md-8 offset-md-8 col-18 offset-3">
                    <a href="#">
                        {% trans %}
                            © 2021 Derechos Reservados por Scala Higher Education
                        {% endtrans %}
                    </a>
                </div>
                <div class="col-md-4 offset-md-2 col-20 offset-2 m-y-3 m-md-y-0">
                    <a href="#">
                        {% trans %}
                            Legales, política privacidad
                        {% endtrans %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>









