$grid-columns: 24;


$max_font:  1vw;


//COLORS
$blue: #464A75;
$blue50: #BDBBD3;
$black: #1A1B1C;
$white: #FFFFFF;
$greyDark: #868686;

$primaryColor: $blue;
$secondaryColor: $blue50;



$fontregular: 'DIN Pro';
$font-family-base:  $fontregular;


