/*GENERAL*/
body {
    font-family: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

a:focus {
    outline: none;
    outline-offset: initial;
}

/*GENERAL*/
/*FORMS*/
.form-control::-moz-placeholder {
    color: $greyDark;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: $greyDark;
}

.form-control::-webkit-input-placeholder {
    color: $greyDark;
}

textarea {
    resize: none;
}

/*FORMS*/
/*LISTS*/
.list-unstyled {
    margin-bottom: 0;
}

/*LISTS*/
/*MARGINS*/
.row-margin {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1600px
);


$spacers-zetter: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers-zetter: map-merge(
(
0: 0,
1: ($spacer * 1),
2: ($spacer * 2),
3: ($spacer * 3),
4: ($spacer * 4),
5: ($spacer * 5),
6: ($spacer * 6),
7: ($spacer * 7),
10: ($spacer * 10),
15: ($spacer * 15),
20: ($spacer * 20),
),
$spacers-zetter
);

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $prop, $abbrev in (margin: m, padding: p) {
            @each $size, $length in $spacers-zetter {
                .#{$abbrev}#{$infix}-#{$size} {
                    #{$prop}: $length !important;
                }
                .#{$abbrev}#{$infix}-t-#{$size},
                .#{$abbrev}#{$infix}-y-#{$size} {
                    #{$prop}-top: $length !important;
                }
                .#{$abbrev}#{$infix}-r-#{$size},
                .#{$abbrev}#{$infix}-x-#{$size} {
                    #{$prop}-right: $length !important;
                }
                .#{$abbrev}#{$infix}-b-#{$size},
                .#{$abbrev}#{$infix}-y-#{$size} {
                    #{$prop}-bottom: $length !important;
                }
                .#{$abbrev}#{$infix}-l-#{$size},
                .#{$abbrev}#{$infix}-x-#{$size} {
                    #{$prop}-left: $length !important;
                }
            }
        }
    }
}
/*MARGINS*/

/*LAYOUT*/
.h-100vh {
    min-height: 100vh;
}
/*LAYOUT*/
