html, body {
    font-size: $max_font;
    overflow-x: hidden;
    font-family: $font-family-base
}
h1,
h2,
h3,
h4,
h5{
    font-weight: normal;
}
h1{
    font-size: 5vw;
    line-height: 5.1vw;
    @include media-breakpoint-down(sm) {
        font-size: 11.6vw;
        line-height: 10vw;
    }

}
h2{
    font-size: 2.35vw;
    @include media-breakpoint-down(sm) {
        font-size: 9vw;
    }

}
h3{
    font-size: 3.2vw;
    @include media-breakpoint-down(sm) {
        font-size: 7.2vw;
    }
}
h4{
    font-size: 1.8vw;
    line-height: 2.1vw;

    @include media-breakpoint-down(sm) {
        font-size: 7.2vw;
        line-height: 9vw;
    }
}
h5{
    font-size: 1.3vw;
    @include media-breakpoint-down(sm) {
        font-size: 4.87vw;
    }
}
.fw-300{
    font-weight: 300;
}
p{
    font-size: 1vw;
    line-height: 1.2vw;
    @include media-breakpoint-down(sm) {
        font-size: 5.38vw;
        line-height: 5.5vw;
    }
}
@include media-breakpoint-down(sm)
{
    .m-t-interior{
        margin-top: 38%;
    }
}
.text-justify{
    text-align: justify;
}

.text-primary{
    color: $primaryColor !important;
}
.text-secondary{
    color: $secondaryColor !important;
}
.text-dark{
    color: $black !important;
}
.text-white{
    color: $white !important;
}

.bg-secondary{
    background-color: #F0F2F9 !important;
}
.bg-dark{
    background: #000;
    background-color: #000 !important;
}

$transition-type: ease-in;
$overlay-color: $primaryColor;


@keyframes zoom {
    0%, 100% { transform: scale(1);}

    50% { transform: scale(1.1);}
}



.container-menu{
    @include media-breakpoint-up(md) {
        .hamburguer,
        .locale{
            display: none;
        }
    }
    @include media-breakpoint-down(sm) {
        .nav-menu{
            display: none;
        }
    }
    .down{
        @include media-breakpoint-up(md) {
            .hamburguer,
            .locale{
                display: block;
            }
            .nav-menu{
                display: none;
            }
        }
    }
    .nav-menu{
        ul{
            margin-bottom: 0;
            li{
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: .5rem;
                a{
                    font-size: .9vw;
                }
                .btn-primary{
                    border-radius: 35px;
                }
            }
        }
    }
}



.full-menu, .content {
    width: 100%;
    height: 100vh;
    padding: 0;
}
.full-menu {
    position: absolute;
    background-color: $overlay-color;
    opacity: 0.5;
    transform: translateX(100%);
    transition: all 400ms $transition-type;
    a{
        text-decoration: none;
    }

    li {
        font-size: 2.3vw;
        color: #fff;
        opacity: 0;
        transform: translateY(2%);
        transition: all 300ms $transition-type;
        cursor: pointer;
        margin-top: 2rem;
        @include media-breakpoint-down(sm) {
            font-size: 8.3vw;
            margin-top: 3rem;
        }
    }

    ul {
        margin-top: 4rem;
        list-style: none;
        @include media-breakpoint-down(sm) {
            margin-top: 18rem;
        }
    }

    &.active {
        transform: translateX(0%);
        opacity: 1;
        z-index: 1;

        .about { transition-delay: .3s;}
        .services { transition-delay: .4s;}
        .allies { transition-delay: .5s;}
        .news { transition-delay: .6s;}
        .contact { transition-delay: .7s;}

        li {
            opacity: 1;
            transform: translateX(0%);

            &:hover {
                animation: zoom 200ms $transition-type;
            }
        }
    }
    .footer-menu{
        position: absolute;
        width: 100%;
        border-top: 1px solid #BDBBD3;
        bottom: 0;
        color: #fff;
        @include media-breakpoint-down(sm) {
            font-size: 4.5vw;
        }
        a{
            text-decoration: underline;
        }
    }
}


.home {
    .contaiter-line{
        border: 1px solid #fff !important;
    }
    .lines {
        background-color: #000 !important;
    }
    .contaiter-line{
        background-color: #fff !important;
    }
}
.hamburguer {
    .contaiter-line{
        border: 1px solid $primaryColor;
        border-radius: 50%;
        margin: auto;
        @include media-breakpoint-down(sm) {
            width: 10em;
            height: 10em;
        }
        width: 3em;
        height: 3em;
        background-color: $primaryColor;
    }

    position: absolute;
    width: 4em;
    height: 4em;
    margin: 1em;
    z-index: 1;
    cursor: pointer;
    right: 3rem;
    @include media-breakpoint-down(sm) {
        width: 14em;
        height: 10em;
        margin: 4rem 2rem;
        right: 10rem;
    }


    .lines {
        background-color: #fff;
        width: 50%;
        margin-left:25%;
        height: 1.5px;
        transition: all 450ms $transition-type;
    }
    .line-top{
        margin-top:1.2rem;
        @include media-breakpoint-down(sm) {
            margin-top: 3.4rem;
        }
    }
    .line-bottom{
        margin-top: .3rem;
        @include media-breakpoint-down(sm) {
            margin-top: 1.3rem;
        }
    }
}
.locale{
    position: absolute;
    width: 4em;
    height: 4em;
    margin: 1em;
    z-index: 1;
    cursor: pointer;
    right: 0;
    @include media-breakpoint-down(sm) {
        width: 10rem;
        height: 10rem;
        margin-top: 4rem;
        font-size: 3.5rem;
    }

}
.container-video {
    margin: 0;
    padding: 0;
}

.plyr--paused .plyr__poster {
    z-index: 2;
    filter: blur(1rem);
    position: absolute;
    opacity: 1;
    top: 65px;
    left: 0;
    bottom: 0;
    right: 0;

}
.plyr--full-ui.plyr--video .plyr__control--overlaid{
    background-color: rgba(196, 196, 196, 0.01);
    border: 1px solid #fff;
}
.plyr__control--overlaid {
    padding: calc(var(--plyr-control-spacing, 10px) * 4.5);
}





.close-hamburguer {
    .contaiter-line{
        border: 1px solid #fff;
        background-color: transparent;
    }
    .lines{
        background-color: #fff;
    }

    .lines { cursor: pointer;}
    .line-top { transform: translateY(200%) rotate(45deg);}
    .line-bottom { transform: translateY(-200%) rotate(135deg);}
}

.promote-education{
    .title{
        @include media-breakpoint-up(md) {
            top: 12vw;
            width: 33vw;
            left: 4.166%;
            position: absolute

        }
    }
    .sub-title{
        bottom: 12vw;
        font-size: 4.87vw;
        line-height: 6.3vw;
        right: 0vw;
        text-align: center;

        @include media-breakpoint-up(md) {
            position: absolute;
            width: 14.8vw;
            text-align: left;
            font-size: 1.27vw;
            line-height: 1.8vw;
        }
    }
    .scala-higher{

        @include media-breakpoint-up(md) {
            position: absolute;
            width: 27.3vw;
            right: 5vw;
            top: 25%;
        }
        @include media-breakpoint-down(sm) {
            margin-top: 15rem;
            margin-bottom: 15rem;
        }

    }
    .img-custom{
        @include media-breakpoint-down(sm) {
            object-fit: cover;
            height: 70vh;
            object-position: 15% top;
            max-width: 100%;
        }
    }


}
.accompany{
    .bg-contain{
        background-color: $primaryColor;
        @include media-breakpoint-up(md) {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+20,464a75+20,464a75+20,464a75+79,ffffff+79 */
            background: rgb(255,255,255,0); /* Old browsers */
            background: -moz-linear-gradient(top,  rgba(255,255,255,0) 15%, rgba(70,74,117,1) 15%, rgba(70,74,117,1) 15%, rgba(70,74,117,1) 85%, rgba(255,255,255,0) 85%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 15%,rgba(70,74,117,1) 15%,rgba(70,74,117,1) 15%,rgba(70,74,117,1) 85%,rgba(255,255,255,0) 85%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(255,255,255,0) 15%,rgba(70,74,117,1) 15%,rgba(70,74,117,1) 15%,rgba(70,74,117,1) 85%,rgba(255,255,255,0) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        }

    }

    margin-top: -9rem;

    @include media-breakpoint-down(sm) {
        margin-top: 0rem;
    }
    z-index: 2;
    .container-txt{
        @include media-breakpoint-up(md) {
            padding: 7rem 0;}

    }
}
.international{
    margin-top: -7rem;
    .title {
        margin-top: 14rem;
    }
    .content-flags{
        border-bottom: 1px solid rgba(85, 92, 140, 0.2);

        .flags{
            margin: 0;
            padding: 0;
            text-align: center;
            display: flex;
            li{
                list-style-type: none;
                margin-bottom: 5rem;
                width: 16.666%;

                img{
                    width: 2.5rem;
                    position: relative;
                    @include media-breakpoint-down(sm) {
                        width: 9rem;
                    }
                }
                img:hover{
                    width: 3.5rem;
                    @include media-breakpoint-down(sm) {
                        width: 10rem;}
                }

                .flag-img{
                    display: inline-block;
                    border: 1px solid;
                    border-radius: 50%;
                    padding: 0.4rem;
                }
                p{
                    line-height: 1.4vw;
                    @include media-breakpoint-down(sm) {
                        font-size: 3.38vw;
                        line-height: 3.38vw;
                    }

                }
            }

        }
    }
    .container-ally{
        background: #fff;
        display: flex;
        border-radius: 50%;
        left: 1.6vw;
        transition: all 900ms;

        @include media-breakpoint-down(sm)
        {
            width: 40vw;
            height: 40vw;
            margin-top: -8rem;

        }
        @include media-breakpoint-up(md) {
            top: 33%;
            width: 10vw;
            height: 10vw;
            position: absolute
        }
        img{
            max-width: 85%;
            @include media-breakpoint-down(sm)
            {
                max-width: 65%;
            }
            margin: auto;
        }
    }

}
.news-wrap{
    .article{
        background: #555C8C;
        border-radius: 10px;
        color: #fff;
        padding: 0.2rem 1.8rem;
        margin-right: .5rem;
        @include media-breakpoint-down(sm) {
            font-size: 4vw;
            padding: 0.2rem 2.8rem;
        }

    }
    h4{
        font-size: 1.9vw;
        line-height: 1.9vw;
        @include media-breakpoint-down(sm) {
            font-size: 7.6vw;
            line-height: 7.9vw;
        }
    }
    @include media-breakpoint-down(sm) {
        hr{
            margin: 5rem 0;
        }
    }
    @include media-breakpoint-up(md) {
        .container-categories{
            height: 5%;
        }
        .title-new{
            height: calc(2vw * 2);
        }
        .date-new{
            height: calc(1.3vw * 1.1);
        }
        .description-new{
            height: calc(1.3vw * 3);
        }
        .container-new{
            height: 75%;
        }
    }
    .linkedin{
        .btn-primary{
            border-radius: 1rem;
            padding: 0.5rem 1.3rem;
            @include media-breakpoint-down(sm) {
                font-size: 4rem;
            }
        }

    }
    .sound{

        a{
            margin: 0.2rem;
            img{
                max-width: 2.5rem;
                @include media-breakpoint-down(sm) {
                    max-width: 10.5rem;    
                }
            }
        } 
        h5{
            font-size: 1rem;
            font-weight: 600;
            @include media-breakpoint-down(sm) {
                font-size: 3rem;
            }
        }
    }
}

.footer-wrap {
    background-color: $black;
    p {
        span{
            color: #B1B1B1;
        }
        font-size: .85vw;
        @include media-breakpoint-down(sm) {
            font-size: 4.18vw;
        }
        line-height: 117%;
        letter-spacing: -0.01em;
    }
    .elemnt {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
    border-top{
        border-top: 1px solid  #BDBBD3;
    }
    .footer-bottom{
        p{
            @include media-breakpoint-down(sm) {
                font-size: 3.18vw;
            }
        }
    }
}

.contact-wrap {
    p,
    label{
        margin: 0;

    }
    label{
        line-height: 1.2vw;
        font-size: 1vw;
        @include media-breakpoint-down(sm) {
            line-height: 5.2vw;
            font-size: 3.18vw;
        }

    }
    .form-group {
        input,
        textarea {
            background-color: transparent;
            font-size: 1.5rem;
            border: none;
            border-bottom: 1px solid #bdbbd3;
            border-radius: 0;
            margin-top: 1rem;
            color: #f0f2f9;

        }
    }
    .btn-send {
        background-color: #bdbbd3;
        padding: .8rem 3rem;
        font-size: 1.38vw;
        color: $white;
        border-radius: 46.5px;
        @include media-breakpoint-down(sm) {
            padding: 2.8rem 3rem;
            font-size: 4.38vw;
            width: 100%;
        }
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $white;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $white;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $white;
    }
    .icon{
        max-width: 3vw;
        @include media-breakpoint-down(sm) {
            max-width: 10vw;
        }
    }
    .border-white{
        border-right: 1px solid #8A8EBC;
    }
}
.history{
    p{
        padding: 0 1.6rem;
        margin-top: 1.5rem;
        text-align: justify;
    }
    @include media-breakpoint-up(md) {
        .line-deco{
            position: relative;
        }
        .line-deco:after{
            content: "";
            position: absolute;
            height: 100%;
            border-right: 1px solid #000;
            top: 0;
            right: 0;
        }
        h5{
            max-width: 40vw;
        }
    }
}
.higher-education{
    .bg-secondary{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0f2f9+81,ffffff+81 */
        background: #f0f2f9; /* Old browsers */
        background: -moz-linear-gradient(top,  #f0f2f9 81%, #ffffff 81%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #f0f2f9 81%,#ffffff 81%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #f0f2f9 81%,#ffffff 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f2f9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        @include media-breakpoint-down(sm) {
            background: #f0f2f9;
        }

    }

    .title{
        width: 130%;
        left: -13vw;
        position: relative;
        @include media-breakpoint-down(sm) {
            position: absolute;
            top: 4%;
            width: 90%;
            left: 5vw;
        }
    }
    p{
        text-align: justify;

    }
}
.model{
    .row:nth-child(n + 2){
        margin-top: -5%;
    }

    h2{
        color: #00A3AE;
    }
    .container-title{
        border-bottom: 1px solid rgba(85, 92, 140, 0.2);
    }
    .indicator{
        font-size: 5.93vw;
        color: #00A3AE;
        font-weight: lighter;
        display: flex;
        align-items: center;
        margin-right: 2rem;
        @include media-breakpoint-down(md) {
            font-size: 24.93vw;
            line-height: 22vw;
            margin-top: 8rem;
        }
    }
    .description{
        font-size: 3.4vw;
        line-height: 3.5vw;
        @include media-breakpoint-up(xxl) {
            font-size: 2.5vw;
            line-height: 2.5vw;
        }
        @include media-breakpoint-down(md) {
            font-size: 8vw;
            line-height: 9vw;
            margin-top: 8rem;
        }
        color: $primaryColor;
        font-weight: normal;
        display: flex;
        align-items: center;
    }
    .information{

        .circle{
            position: relative;
            width: 20vw;
            height: 20vw;
            @include media-breakpoint-up(xxl) {
                width: 18vw;
                height: 18vw;
            }
            @include media-breakpoint-down(sm) {
                width: 75vw;
                height: 75vw;
                margin: 12rem;
            }
            display: grid;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 50%;
            text-align: center;
            box-sizing:border-box;
            margin-bottom:5px;
            p{
                max-width: 90%;
                margin: auto;
            }
        }

        .circle:before{
            content:"";
            width:110%;
            height:110%;
            position: absolute;
            border: 1px solid #00A3AE;
            top:-5%;
            left:-5%;
            border-radius:50%;
            z-index:1;

        }

    }

}

.solutions{
    .circle:first-child {

    }
    .circle{
        background-color:#F0F2F9;
        box-sizing:border-box;
        width: 15.266%;
        padding-top:15.266%;
        height:0;
        position:relative;
        border-radius: 50%;
        display:flex;
        margin: 0.7%;
        @include media-breakpoint-down(sm) {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
        p{
            position: absolute;
            top: auto;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $primaryColor;
        }

    }
    .circle:before{
        content:"";
        width:120%;
        height:120%;
        position: absolute;
        border: 1px solid #00A3AE;
        top:-10%;
        left:-10%;
        border-radius:50%;
        z-index:1;

    }
    .decor-top{
        position: absolute;
        top: -13.2%;
        left: 48%;
        z-index: 10;

    }
    .decor-bottom {
        position: absolute;
        bottom: -13.3%;
        left: 48%;
        transform: rotateY(180deg);
    }

    @include media-breakpoint-down(sm) {
        .cont-scrool{
            overflow-y: hidden;
            overflow-x: scroll;
        }
        .container-md{
            width: 1100px;
        }
    }




}
.allies-wrap{
    .bg-primary{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+24,f0f2f9+24 */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 24%, #f0f2f9 24%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ffffff 24%,#f0f2f9 24%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(#ffffff 24%, #f0f2f9 24%, #f0f2f9 80%, white 80%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f2f9',GradientType=0 ); /* IE6-9 */
    }
    .miniature{
        margin-top: -7rem;
        @include media-breakpoint-down(md) {
            margin-top: 0;
        }
    }

    .testimonials{
        .slider-testimony{
            @include media-breakpoint-down(md) {
                margin-top: 9rem;
            }
        }
        .testimony-btn{
            cursor: pointer;
            img{
                height: 15vw;
                object-fit: cover;
                width: 100%;
                @include media-breakpoint-down(md) {
                    height: 240px;
                }
            }
            &.active{
                img{
                    filter: #{"grayscale()"};
                }
            }
        }
        .testimony-photo{
            height: 37vw;
            object-fit: cover;
            @include media-breakpoint-down(md) {
                width: 100%;
                height: 300px;
                object-position: top;
            }
        }
        .testimony-description{
            @include media-breakpoint-down(md) {
                font-size: 4rem;
            }
        }
        .slider-controls{
            margin-top: 2rem;
            @include media-breakpoint-down(md) {
                margin-top: 7rem;
            }
        }
    }
}
.team{
    h3{
        font-size: 1.8vw;
        max-width: 50%;
        @include media-breakpoint-down(sm) {
            font-size: 7.8vw;
            margin-top: 1rem;
        }
    }
    .team-position{
        font-size: .8rem;
        @include media-breakpoint-down(sm) {
            font-size: 3.8vw;
        }
    }
    .collapse-team{
        margin-bottom: 2rem;
        .data{
            margin-right: 3.5rem;
            width: 257px;
            flex-shrink: 0;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
        .description{
            text-align: justify;
            .close{
                cursor: pointer;
            }
        }
        .collapse-team-description{
            @include media-breakpoint-down(md) {
                font-size: 4vw;
            }
        }
    }

}

.contact-wrap .form-group input, .contact-wrap .form-group textarea{
    font-size: 1.2vw;
    @include media-breakpoint-down(sm) {
        font-size: 5.5vw
    }
}
.services-wrap{
    .contaiter-img{
        //overflow-y: hidden;
        //overflow-x: scroll;
        .cont-mb{
            width: 1100px;
        }

    }
}


.new-wrap{
    h3{
        font-size: 2.4vw;
    }
    .return{
        a{
            font-size: .8vw;
            @include media-breakpoint-down(sm) {
                font-size: 4.8vw
            }
        }
        img{
            max-width: 2.5rem;
            @include media-breakpoint-down(sm) {
                max-width: 5.5rem;    
            }
        }
    }
    .content-wrap{
        h1{
            font-size: 1.8vw;
            line-height: 2vw;
            color: $primaryColor;
            @include media-breakpoint-down(sm) {
                font-size: 7.8vw;
                line-height: 9vw;    
            }
        }
        p{
            @include media-breakpoint-down(sm) {
                font-size: 3.38vw;
            }
        }
        img{
            max-width: 100%;
            height: auto;
            @include media-breakpoint-down(sm) {
                height: auto !important;
            }
        }
    }
    .article{
        background: #555C8C;
        border-radius: 10px;
        color: #fff;
        padding: 0.2rem 1.8rem;
        margin-right: .5rem;
        @include media-breakpoint-down(sm) {
            font-size: 4vw;
            padding: 1rem 3.8rem;
        }
    }
    .title-new{
        font-size: 1.3vw;
        line-height: 1.6vw;

        @include media-breakpoint-down(sm) {
            font-size: 6.3vw;
            line-height: 8.6vw;
        }
    }
    .list-category{
        @include media-breakpoint-up(md) {
            border-top: 1px solid;
        }
        h4{
            font-size: 1.5vw;
            letter-spacing: -0.07em;
            color: #555C8C;
            font-weight: 500;
            @include media-breakpoint-down(sm) {
                font-size: 9.5vw;
            }
        }
        a{
            margin-top: .7rem;
            font-weight: normal;
            font-size: 1.2vw;
            color: #555C8C;
            @include media-breakpoint-down(sm) {
                font-size: 5.2vw;
            }
        }
    }

}





/*.container{
    border: 2px solid #000;
}*/


.bg-secondary,
.primary{
    path {
        fill: $primaryColor !important;
    }

}
.form-group {
    @include media-breakpoint-down(sm) {
        margin: 5rem 0rem;
    }
}

.single-slider-mobile{
    @include media-breakpoint-down(lg){
        img{
            height: 488px;
            object-fit: cover;
        }
    }
}
.slider-controls{
    img{
        cursor: pointer;
        width: 30px;
    }
}


.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }
}
.video-coffee{
    .slick-dots{
        bottom: -10%;
        @include media-breakpoint-down(md) {
            bottom: -15%;
        }
    }
    .description-video{
        max-width: 80%;
        margin-left: 10%;
        @include media-breakpoint-down(sm) {
            font-size: 3rem;
        }
    }
    .slider-controls img{
        width: 2.5rem;
        @include media-breakpoint-down(md) {
            width: 12.5rem;
            margin-top: 2rem;
        }


    }
    .slick-dots li button::before {
        font-size: .6rem;
        @include media-breakpoint-down(md) {
            font-size: 2.5rem
        }
    }
    .slick-dotted.slick-slider{
        margin-bottom: 0;
    }
    .title-new, 
    .container-categories,
    .date-new,
    hr{
        opacity: 0
    }

    .slick-current{
        .title-new,
        .container-categories,
        .date-new,
        hr{
            opacity: 1
        }
    }
    hr{
        margin: 0.6rem 0;
    }
    p{
        font-size: .8vw;
        @include media-breakpoint-down(sm) {
            font-size: 3.8vw;
        }
    }

}


.in-url{
    position: absolute;
    top: 2%;
    right: 10%;
    img{
        @include media-breakpoint-down(sm) {
            max-width: 5.5rem;
        }
        max-width: 1.5rem;
    }
}

.team-photo{
    background-color: #F0F2F9;
}
.slider-team{
    .slick-slide{
        padding: 1rem;
    }
    .slick-dots li button::before {
        font-size: 0.8rem;
        color: $primaryColor;

        @include media-breakpoint-down(sm) {
            font-size: 3rem;
        }
    }

}
.slider-team-prev{
    max-width: 2.5rem;
    position: absolute;
    z-index: 2;
    top: 22%;
    left: 0px;
    @include media-breakpoint-down(sm) {
        max-width: 7.5rem;
        top: 32%;
    }
}
.slider-team-next{
    max-width: 2.5rem;
    position: absolute;
    z-index: 2;
    top: 22%;
    right: 0px;
    @include media-breakpoint-down(sm) {
        max-width: 7.5rem;
        top: 32%;
    }
}
.border-bottom-team{
    border-bottom: 1px solid #000;
}



.a-opacity-l.show-op{
    opacity: 1;
    left: 0;
    transition: all 1000ms;
}


.a-opacity-r.show-op{
    opacity: 1;
    right: 0 !important;
    transition: all 1000ms;
}

.a-opacity-t.show-op{
    opacity: 1;
    top: 0 !important;
    transition: all 1000ms;
}


.show-scene{
    .a-opacity-l{
        opacity: 1;
        left: 0;
        transition: all 1000ms;
    }
    .a-opacity-r{
        opacity: 1;
        right: 0 !important;
        transition: all 1000ms;
    }
    .a-opacity-t{
        opacity: 1;
        top: 0 !important;
        transition: all 1000ms;
    }
    .a-opacity{
        opacity: 1;
        transition: all 1000ms;
    }
    .a-transition-l{
        left: 0;
        transition: all 1000ms;
    }
    .a-transition-r{
        transition: all 1000ms;
        right:  0 !important;
    }
    .a-opacity-b{
        opacity: 1;
        transition: all 1500ms;
        bottom:  0% !important;
        position: relative
    }
    .time-a{
        transition: all 1500ms !important;
    }
    .time-b{
        transition: all 2000ms !important;
    }
    .time-c{
        transition: all 2500ms !important;
    }
    .time-d{
        transition: all 3000ms !important;
    }
    .time-e{
        transition: all 3500ms !important;
    }
}
.wrap-book{
    p{
        font-size: 1.6vw;
        line-height: 1.8vw;
        @include media-breakpoint-down(sm) {
            font-size: 5.38vw;
            line-height: 6vw;
        }
    }
    .cont-element{
        .element{
            position: relative;
            &:before{
                content: url("../images/template/play.png");
                /*                background-image: url("../images/template/play.png");*/
                /*                background-size: cover;*/
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center

            }
            &:nth-child(1n) {
                padding-left: 0;
            }
            &:nth-child(2n) {
                padding-right: 0;
            }
        }
    }
    .bg-play{
        background-image: url("../images/template/bg-pb.svg");
        background-size: cover;
        background-repeat: no-repeat;

    }


    .slick-dots {
        bottom: -27rem;
    }
    .slick-dots li.slick-active button::before {
        color: #fff;
        opacity: 0.75;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 10px;
    }
    .slider-controls img {
        width: 60px;
    }

    .slick-dots li button::before {
        font-size: 11px;
        text-align: center;
        color: #fff;
        opacity: 0.25;
    }

}

.a-transition-l{
    transition: all 500ms;
    left: -100%;
    position: relative
}
.a-transition-r{
    transition: all 500ms;
    right:  -100% ;
    position: relative
}

.a-opacity-l{
    opacity: 0;
    transition: all 1000ms;
    left: -40%;
    position: relative
}
.a-opacity-r{
    opacity: 0;
    transition: all 1000ms;
    right:  -60% !important;
    position: relative
}

.a-opacity-t{
    opacity: 0;
    transition: all 1500ms;
    top:  -20% !important;
    position: relative
}
.a-opacity-b{
    opacity: 0;
    transition: all 1500ms;
    bottom:  -20% !important;
    position: relative
}

.a-opacity{
    opacity: 0;
    transition: all 1000ms;
}
.a-opacity.show-op{
    opacity: 1;
    transition: all 1000ms;
}
.timeline{
    a{
        font-size: 6rem
    }
}
.videos-wrap{
    .description-video{
        font-size: 2rem;
    }
}
.btn-more-video{
    padding: 0.4rem 4rem;
    border-radius: 2rem;
    @include media-breakpoint-down(sm) {
        font-size: 3rem
    }
}


.cont-scrool {
    @include media-breakpoint-down(sm) {
        overflow-y: hidden;
        overflow-x: scroll;
        .cont-mb {
            width: 1100px;
        }
    }
}