{% extends 'base.html.twig' %}

{% block title %}<title>Scalahed - Higher Education</title>{% endblock %}

{% block body %}
    <section class="allies-wrap m-md-t-7 m-t-interior allies_animate">
        <div class="container-fluid px-lg-0">

            <div class="row">
                <div class="col-md-17 mx-auto start_animation">
                    <h1 class="text-primary text-center a-opacity">
                        {% trans %}
                        ¡Transformamos vidas!
                        {% endtrans %}
                    </h1>
                </div>
            </div>

            <div class="col bg-primary m-t-5 testimonials start_animation">
                <div class="container">
                    <div class="row testimony-content">
                        <div class="col-md-7 p-0 a-transition-l">
                            <img src="{{ vich_uploader_asset(testimonials[0], 'photoFile') }}" alt="{{testimonials[0].name}}" title="{{testimonials[0].name}}" class="img-fluid testimony-photo"/>
                        </div>
                        <div class="col-md-13 offset-md-1 m-t-5 a-opacity-l">
                            <h4 class="text-primary  testimony-title">
                                
                                {{ app.request.locale == 'es' ? testimonials[0].titleEsp: testimonials[0].titleEng }}
                                
                            </h4>
                            <div class="m-y-3 w-lg-75 testimony-description">
                                {{ app.request.locale == 'es' ? testimonials[0].descriptionEsp|raw: testimonials[0].descriptionEng|raw }}
                            </div>
                            <h4 class="text-dark text-center text-lg-end m-t-5 m-r-5">
                                <span class="testimony-name">{{testimonials[0].name}}</span> <span class="testimony-age">26</span> años
                            </h4>
                        </div>
                    </div>
                    <div class="row miniature a-opacity">
                        <div class="col-md-8"></div>
                        <div class="col-md-16">
                            <div class="row slider-testimony">
                                {% for testimony in testimonials %}
                                    <div class="col-md-8 p-0 testimony-btn {{loop.first ? 'active'}}" data-name="{{testimony.name}}" data-age="{{testimony.age}}" data-title="{{ app.request.locale == 'es' ? testimony.titleesp: testimony.titleEng }}" data-description="{{ app.request.locale == 'es' ? testimony.descriptionesp: testimony.descriptionEng }}">
                                        <img src="{{ vich_uploader_asset(testimony, 'photoFile') }}" alt="{{testimony.name}}" title="{{testimony.name}}" class="img-fluid"/>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row slider-controls">
                                <div class="col-24 text-center text-lg-start">
                                    <img class="slider-testimony-prev me-4" src="{{ asset('build/images/template/prev.svg') }}" alt="Anterior" title="Anterior">
                                    <img class="slider-testimony-next" src="{{ asset('build/images/template/next.svg') }}" alt="Siguiente" title="Siguiente">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container m-t-5" id="allies-1">
            <div class="row a-al-1">
                <h2 class="text-primary title m-md-t-4 m-t-15 m-md-b-3 m-b-5 text-center a-opacity-t">
                    {% trans %}
                    Convenios que nos fortalecen
                    {% endtrans %}
                </h2>
                <div class="col-md-10 offset-md-2 col-22 offset-1 m-t-5 m-md-t-0 a-opacity">

                    <h4 class="text-primary text-md-end text-center">
                        {% trans %}
                        Scala Higher Education cuenta en la actualidad con una amplia red de aliados mundiales.
                        {% endtrans %}
                    </h4>
                </div>
                <div class="col-md-9 offset-md-0 col-22 offset-1 m-t-3 m-md-t-0 m-b-5 m-md-b-0 text-dark text-justify a-opacity">
                    <p>
                        {% trans %}
                        Gracias a nuestros convenios, acuerdos y alianzas con Instituciones de Educación Superior, hemos logrado acompañar a miles de estudiantes a alcanzar sus sueños.
                        {% endtrans %}
                    </p>

                </div>
            </div>
            <div class="row m-t-5 justify-content-center a-al-2" id="allies-2">
                {% for ally in allies %}
                    <div class="col-md-4 col-8 d-flex align-items-center justify-content-center p-md-2 p-4 m-y-3 m-md-y-0 a-opacity">
                        <img src="{{ vich_uploader_asset(ally, 'imageFile') }}" alt="{{ally.name}}" title="{{ally.name}}" class="img-fluid"/>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
