{% extends 'base.html.twig' %}

{% block title %}<title>Scalahed - Higher Education</title>{% endblock %}

{% block body %}


    <section class="news-wrap m-b-10">
        <div class="container" >
            <div class="row m-md-t-7 m-t-interior  m-b-1">
                <div class="col-md-24 offset-md-0 col-22 offset-1 m-t-15 m-md-t-0">
                    <h2 class="text-primary m-t-4 text-md-start">
                        {{ app.request.locale == 'es' ? name.nameEsp: name.name }}
                        
                    </h2>
                </div>
            </div>
            <div class="row border-top">
                {% include 'post_view/post_list.html.twig' %}
            </div>
        </div>

    </section>


{% endblock %}