{% extends 'base.html.twig' %}

{% block title %}<title>Scalahed - Higher Education</title>{% endblock %}

{% block body %}
    <section class="news-wrap m-t-interior  m-md-t-10 blog_animate start_animation">
        <div class="container">
            <div class="row">
                <div class="col-md-20 offset-md-1 col-22 offset-1 start_animation">
                    <h4 class="text-primary  text-center a-opacity-t">
                        {% trans %}
                            Entérese de las últimas noticias sobre Scala y las tendencias del sector
                        {% endtrans %}
                    </h4>
                </div>
            </div>
            <section class="a-opacity a-b-1 start_animation" id="blog-1">
                <div class="row ">
                    {% include 'post_view/post_list.html.twig' %}
                </div>
            </section>
        </div>
        <div class="container-fluid">
            <div class="row bg-secondary m-t-10">
                <div class="col">
                    <div class="container">
                        <div class="row m-t-10 a-b-2" id="blog-2">
                            <div class="col-24 text-md-end text-center m-md-b-2 m-b-5 ">
                                <div class="sound a-opacity">
                                    <a href="https://podcasts.apple.com/mx/podcast/un-caf%C3%A9-con-scala/id1559656116" target="_blank" onclick="gtag('event', 'Ir a Podcast', {'event_category': 'Podcasts', 'event_label': 'Apple'});">
                                        <img src="{{ asset('build/images/template/apple.svg') }}" alt="" class="img-fluid"/>
                                    </a>
                                    <a href="https://open.spotify.com/show/5aBjupDK3LqCYmlCEvkBNz" target="_blank" onclick="gtag('event', 'Ir a Podcast', {'event_category': 'Podcasts', 'event_label': 'Spotify'});">
                                        <img src="{{ asset('build/images/template/spotify.svg') }}" alt="" class="img-fluid"/>
                                    </a>
                                    <a href="https://soundcloud.com/scalahed" target="_blank" onclick="gtag('event', 'Ir a Podcast', {'event_category': 'Podcasts', 'event_label': 'Soundcloud'});">
                                        <img src="{{ asset('build/images/template/sound.svg') }}" alt="" class="img-fluid"/>
                                    </a>
                                    <a href="https://www.youtube.com/channel/UCTso-90g7wyYSj7suVKfghQ" target="_blank" onclick="gtag('event', 'Ir a Podcast', {'event_category': 'Podcasts', 'event_label': 'Youtube'});">
                                        <img src="{{ asset('build/images/template/youtube.svg') }}" alt="" class="img-fluid"/>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7 col-12 mx-auto m-y-4 m-md-y-0 a-opacity-l">
                                <img src="{{ asset('build/images/template/coffee.png') }}" alt="" class="img-fluid"/>
                            </div>
                            <div class="col-md-16 offset-md-1 a-opacity-r">
                                <h4 class="text-primary">
                                    {% trans %}
                                        Espacio abierto a líderes del sector educativo empresarial, académico y gubernamental para hablar de educación.
                                    {% endtrans %}
                                </h4>
                            </div>
                        </div>
                        <div class="row " id="blog-3">
                            <div class="col-20 mx-auto video-coffee a-b-3">
                                <div class="row slider-coffee m-t-5 a-opacity">
                                    {% for video in coffee %}
                                        <div class="col-md-20 mx-auto p-x-1">
                                            <div class="container-categories m-t-5 m-md-t-0">
                                                {% for categorie in video.categories %}
                                                    <span class="article" style="background: #{{ categorie.color is null ? '':categorie.color }}">
                                                        {{ app.request.locale == 'es' ? categorie.nameEsp: categorie.name }}
                                                    </span>
                                                {% endfor %}
                                            </div>
                                            <h4 class="m-t-7  m-t-md- title-new">
                                                {{ app.request.locale == 'es' ? video.titleEsp: video.titleEng }}
                                            </h4>
                                            <hr>
                                            <p class="text-primary date-new">
                                                {{video.date|date('d-m-Y')}}
                                            </p>
                                            <div class="video-container">
                                                <iframe width="100%" height="30vh" src="{{ "https://www.youtube.com/embed/"~video.codeEsp}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                            <div class="text-primary description-video m-t-2  text-center">
                                                {{ app.request.locale == 'es' ? video.descriptionEsp|raw: video.descriptionEng|raw }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row slider-controls m-b-5 a-opacity " id="blog-4">
                                    <div class="col-24 text-center text-lg-start d-flex justify-content-center align-items-center">
                                        <div class="">
                                            <img class="slider-testimony-prev me-4" src="{{ asset('build/images/template/prev-v.svg') }}" alt="Anterior" title="Anterior">
                                            <img class="slider-testimony-next" src="{{ asset('build/images/template/next-v.svg') }}" alt="Siguiente" title="Siguiente">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-24 text-center d-md-flex align-items-center justify-content-center sound m-b-3 m-t-10 m-md-t-3 a-opacity a-b-4">
                                <h5 class="text-primary">{% trans %} Escuchalos también como podcasts en:{% endtrans %}</h5>
                                <a href="https://podcasts.apple.com/mx/podcast/un-caf%C3%A9-con-scala/id1559656116" target="_blank" class="m-l-1" onclick="gtag('event', 'Ir a Podcast', {'event_category': 'Podcasts', 'event_label': 'Apple'});">
                                    <img src="{{ asset('build/images/template/apple.svg') }}" alt="" class="img-fluid"/>
                                </a>
                                <a href="https://open.spotify.com/show/5aBjupDK3LqCYmlCEvkBNz" target="_blank" onclick="gtag('event', 'Ir a Podcast', {'event_category': 'Podcasts', 'event_label': 'Spotify'});">
                                    <img src="{{ asset('build/images/template/spotify.svg') }}" alt="" class="img-fluid"/>
                                </a>

                                </iv>
                            </div>
                            <div class="col-md-8 mx-auto m-b-10 text-center a-opacity a-b-4">
                                <a class=" btn btn-primary btn-more-video" href="{{ path("coffee")}}">{% trans %}Ver más un Café con Scala{% endtrans %}</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <section class="wrap-book">
                <div class="row bg-dark">
                    <div class="col">
                        <div class="container ">
                            <div class="row bg-play">
                                <div class="col-md-9 col-20 mx-auto m-t-10">
                                    <img src="{{ asset('build/images/template/logo-play-book.svg') }}" alt="" class="img-fluid"/>
                                </div>
                                <div class="col-md-18 col-20 mx-auto m-md-t-3 m-md-b-5 m-t-7 m-b-7">
                                    <p class="text-white text-md-center ">
                                        {% trans %}
                                        Conozca de la mano de cada uno de nuestros ejecutivos los procesos y acciones que realizamos 
                                        y los objetivos que se persiguen en cada una de las fases del Modelo ScalaHed.
                                        {% endtrans %}
                                    </p>
                                </div>
                                <div class="container">

                                    <section class=" row cont-element slider-play">
                                        {% for video in playBook %}
                                            <div class="col-md-12   m-t-2">
                                                <a class=" pl-0 m-y-1 " data-fancybox data-type="iframe" data-src="{{ video.url}}" href="javascript:;" onclick="gtag('event', 'Ir a Playbook', {'event_category': 'Playbooks', 'event_label': '{{video.nombreEsp}}'});">
                                                    <div class="position-relative element">
                                                        <img src="{{ vich_uploader_asset(video, 'imageFile')}}" class='img-fluid h-100 '/>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </section>
                                    <div class="row slider-controls m-b-5 a-opacity d-md-none m-t-2">
                                        <div class="col-24 text-center text-lg-start d-flex justify-content-center align-items-center">
                                            <div class="">
                                                <img class="slider-play-prev me-4" src="{{ asset('build/images/template/slaider-l.svg') }}" alt="Anterior" title="Anterior">
                                                <img class="slider-play-next" src="{{ asset('build/images/template/slaider-r.svg') }}" alt="Siguiente" title="Siguiente">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row m-md-t-7 m-t-15 m-b-5 ">
                                        <div class="col-md-24 mx-auto m-y-3 cont-scrool">
                                            <div class="cont-mb d-flex">
                                                <div class="col-md-7 d-flex align-items-center">
                                                    <img src="{{ asset('build/images/template/a.png') }}" alt="" class="img-fluid"/>
                                                </div>
                                                <div class="col-md-10">
                                                    <img src="{{ asset('build/images/template/b.png') }}" alt="" class="img-fluid"/>
                                                </div>
                                                <div class="col-md-7 d-flex align-items-center">
                                                    <img src="{{ asset('build/images/template/c.png') }}" alt="" class="img-fluid"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </section>

{% endblock %}
