{% extends 'base.html.twig' %}

{% block title %}<title>Scalahed - Higher Education</title>{% endblock %}

{% block body %}
    <div class="row m-t-15">
        <div class="col-md-14 mx-auto m-y-10">
             <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;"><iframe style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden" frameborder="0" type="text/html" src="{{video.url}}" width="100%" height="100%"   allow="autoplay" allowfullscreen></iframe></div>
        </div>
    </div>

{% endblock %}
