{% extends 'base.html.twig' %}

{% block title %}<title>Scalahed - Higher Education</title>{% endblock %}

{% block body %}


    <section class=" m-b-10 videos-wrap">
        <div class="container" >
            <div class="row m-md-t-7 m-t-interior  m-b-1">
                <div class="col-md-24 offset-md-0 col-22 offset-1 m-t-15 m-md-t-0 ">
                    <h2 class="text-primary m-t-4 text-md-start">
                        UN CAFE CON SCALA

                    </h2>
                </div>
            </div>
            <div class="row border-top ">
                {% for post in posts %}
                    <div class="col-md-12 offset-md-0 col-22 offset-1 m-t-10 m-md-t-0 p-1">
                        <div class="row h-100">
                            <div class="col-24 position-relative">
                                <h4 class="m-t-7 m-md-t-2 m-t-md-0 title-new">
                                    {{ app.request.locale == 'es' ? post.titleEsp: post.titleEng }}
                                </h4>
                                <p class="  m-t-2  ">
                                    {{ app.request.locale == 'es' ? post.descriptionEsp|raw : post.descriptionEng|raw }}
                                </p>
                                <div>
                                    <hr class="m-y-1">
                                </div>
                                <p class="text-primary date-new m-b-3">
                                    {{post.date|date('d-m-Y')}}
                                </p>
                                <div class="video-container">
                                    <iframe class="mx-auto" width="95%" height="30vh" src="{{ "https://www.youtube.com/embed/"~post.codeEsp}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}
