{% extends 'base.html.twig' %}

{% block title %}<title>Scalahed - Higher Education</title>{% endblock %}

{% block body %}
    <div class="container m-md-t-10 m-t-interior">
        <div class="row">
            <div class="col-md-20 mx-auto text-center">
                <h3 class="text-primary">
                   {% trans %} ¡Contáctanos!{% endtrans %}
                </h3>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <div class="contact-wrap m-t-5 bg-primary footer-wrap" id="contacto">
        <div class="container">
            <div class="row ">
                <div class="col-md-11 offset-md-0 m-t-5 order-md-0 order-1 d-flex align-items-center">
                    <div class="col border-right border-white">
                        <div class="row">
                            <div class="col-md-13 offset-md-8 col-20 offset-2  m-t-2  ">
                                <p class="text-white text-end">
                                    {% trans %}
                                    <b>Ciudad de México, México. </b><br>
                                    +55 01 3684-1404<br>
                                    Calzada de Tlalpan #2148
                                    Oficinas 8 y 9 - Segundo piso
                                    Col. Campestre Churubusco<br>
                                    Del. Coyoacán, CDMX.<br>
                                    C.P. 04200
                                    {% endtrans %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-13 offset-md-8 col-20 offset-2  m-t-2  ">
                                <p class="text-white text-end">
                                    {% trans %}
                                    <b>Lima, Perú.</b><br>
                                    +51 (01) 510-2125<br>
                                    Calle Coronel Inclán 235 Oficina 501<br>
                                    Miraflores<br>
                                    {% endtrans %}
                                </p>
                            </div>
                            <div class="row">
                            </div>
                            <div class="col-md-13 offset-md-8 col-20 offset-2  m-t-2  ">
                                
                                <p class="text-white text-end">
                                    {% trans %}
                                    <b>Bogotá, Colombia.</b><br>
                                    Carrera 7 Nro 155c-20<br>
                                    Torre E - Oficina 3201<br>
                                    {% endtrans %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-13 offset-md-8 col-20 offset-2  m-t-2  ">
                                <p class="text-white text-end">
                                    {% trans %}
                                    <b>Santiago, Chile.</b><br>
                                    +56 22 594-0659
                                    Mariano Sánchez Fontecilla 310
                                    Oficina 02-137,  Las Condes
                                    Acceso vía metro Estación Tobalaba
                                    {% endtrans %}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-13 offset-md-8 col-20 offset-2  m-t-2  ">
                                <p class="text-white text-end">
                                    {% trans %}
                                    <b>Quito, Ecuador.</b><br>
                                    Av. 12 de Octubre N26-97 y Lincoln<br>
                                    Ed. Torre 1492 Piso 9 Ofic. 902<br>
                                    {% endtrans %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 order-md-1 col-22 offset-1 m-t-5 order-0 m-b-3 ">
                    {{ render(controller('App\\Controller\\ContactController::index')) }}
                </div>
            </div>


            <div class="row p-b-5">
                <div class="col-md-6 offset-md-4 col-20 offset-2  m-t-5  d-flex align-items-start">
                    <img src="{{ asset('build/images/footer/local.svg') }}" alt="" class=" icon m-r-2"/>
                    <p class="text-white">
                        {% trans %}
                        Oficina Central<br>
                        Ciudad de México<br>
                        Calzada de la Naranja #159<br>
                        Fracc. Industrial Alce Blanco<br>
                        Naucalpan, Edo. de México<br>
                        C.O. 53370
                        {% endtrans %}
                    </p>
                </div>
                <div class="col-md-6 col-20 offset-md-0  offset-2  d-flex align-items-center m-md-y-3 m-y-10">
                    <img src="{{ asset('build/images/footer/in.svg') }}" alt="" class="icon m-r-2"/>
                    <p class="text-white">
                     {% trans %}   Encuéntrenos como:{% endtrans %}<br>
                        <a href="https://www.linkedin.com/company/scalahed" class="text-white"
                           target="_blank"><b>@scalahed</b></a>
                    </p>
                </div>

                <div class="col-md-6 col-20 offset-md-0 offset-2 d-flex align-items-center m-b-10 m-md-b-0">
                    <img src="{{ asset('build/images/footer/icon_mail.svg') }}" alt="" class="icon m-r-2"/>
                    <p class="text-white">
                       {% trans %} Escríbanos al correo:{% endtrans %}<br>
                        <a href="mailto:contacto@scalahed.com" class="text-white"> <b>contacto@scalahed.com</b></a>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <div class="footer-wrap ">
        <div class="container">
            <div class="row ">
                <div class="col-md-5 offset-md-1 col-18 col-20 offset-3  m-md-t-5 m-t-15 elemnt">
                    <p class="text-white">
                        {% trans %}
                        Ciudad de México, México.<br>
                        <span class="">
                            +55 01 3684-1404<br>
                            Calzada de Tlalpan #2148<br>
                            Oficinas 8 y 9 - Segundo piso<br>
                            Col. Campestre Churubusco<br>
                            Del. Coyoacán, CDMX.<br>
                            C.P. 04200
                            {% endtrans %}
                        </span>
                    </p>
                </div>
                <div class="col-md-4 offset-md-0  col-18 offset-3 elemnt">
                    <p class="text-white">
                        {% trans %}
                        Lima, Perú.<br>
                        <span class="">
                            +51 (01) 510-2125<br>
                            Calle Coronel Inclán 235 Oficina 501<br>
                            Miraflores.<br>
                        </span>
                        {% endtrans %}
                    </p>
                </div>
                <div class="col-md-4 offset-md-0 col-18 offset-3 elemnt">
                    <p class="text-white">
                        {% trans %}
                        Bogotá, Colombia.<br>
                        <span class="">
                            Carrera 7 Nro 155c-20<br>
                            Torre E - Oficina 3201<br>
                        </span>
                        {% endtrans %}
                    </p>
                </div>
                <div class="col-md-5 offset-md-0 col-18 offset-3 elemnt">
                    <p class="text-white">
                        {% trans %}
                        Santiago, Chile.<br>
                        <span class="">
                            +56 22 594-0659<br>
                            Mariano Sánchez<br>
                            Fontecilla 310 Oficina 02-137, <br>
                            Las Condes
                            Acceso vía metro
                            Estación Tobalaba
                        </span>
                        {% endtrans %}
                    </p>

                </div>
                <div class="col-md-5 offset-md-0 col-18 offset-3 elemnt m-b-15">
                    <p class="text-white">
                        {% trans %}
                        Quito, Ecuador.<br>
                        <span class="">
                            Av. 12 de Octubre N26-97 y Lincoln
                            Ed. Torre 1492 Piso 9 Ofic. 902
                        </span>
                        {% endtrans %}
                    </p>
                </div>


            </div>
            <div class="row b-md-t border-top footer-bottom">
                <div class="col-md-5 offset-md-1 col-14 offset-5 text-centeroffset-md-0 order-md-0 order-2  m-md-y-1 m-y-10">
                    <img src="{{ asset('build/images/footer/logo-f.svg') }}" alt="" class=" img-fluid"/>
                </div>
                <div class="col-md-12 offset-md-0 order-0 col-18 offset-3  text-center d-flex align-items-center  m-t-15 m-b-5 m-md-b-1 m-md-t-1 ">
                    <p class="text-white m-auto text-center text-md-left">
                        <u> {% trans %}© 2021 Derechos Reservados por Scala Higher Education{% endtrans %}</u>
                    </p>
                </div>
                <div class="col-md-5 col-18 offset-3 offset-md-0 text-center d-flex align-items-center order-1 m-y-1">
                    <p class="text-white m-auto d-flex align-items-center">
                        <u><a href="assets/pdf/POLÍTICA_TRATAMIENTO_DATOS_SCALA_COL.pdf" class="text-white m-y-10 m-md-y-0"
                              target="_blank">{% trans %}Legales{% endtrans %}</a>, 
                            <a href="assets/pdf/AVISO_PRIVACIDAD_SCALA_COL.pdf" class="text-white"
                               target="_blank">{% trans %}política privacidad{% endtrans %}</a></u>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}