{% extends 'base.html.twig' %}
{% block header %}

{% endblock %}

{% block title %}<title>Scalahed - Higher Education</title>{% endblock %}

{% block body %}
    {#<h1>
        gracias
    </h1>#}
    <div class="container">
        <div class="row h-100vh text-center align-items-center">
            <div class="col-md-24">
                <picture>
                    {#{{ app.request.locale == 'es' ? "build/images/template/gm.svg": "build/images/template/gm_eng.svg" }}#}
                    
                    
                    <source class="img-fluid m-auto" srcset="{{ asset(app.request.locale == 'es' ? "build/images/template/ge.svg": "build/images/template/ge_eng.svg") }}" media="(min-width: 768px)" />
                    <img class=" card-d img-fluid m-auto" src="{{ asset(app.request.locale == 'es' ? "build/images/template/gm.svg": "build/images/template/gm_eng.svg" ) }}" media="(max-width: 768px)" />
                </picture>
                    
            </div>
        </div>
    </div>


    <script>
        function redireccionar() {
            window.location = "{{(app.request.headers.get('referer'))}}";
            console.log("entro");
        }
        setTimeout("redireccionar()", 500);
    </script>
{% endblock %}
{% block footer %}

{% endblock %}