
{#<form class="col d-flex align-items-center h-100" method="post" action="enviar.php">#}

{{ form_start(form, {'method': 'post', 'action': path('contact'), 'attr': {'class': 'col d-flex align-items-center h-100 '} }) }}
<div class="row">
    <div class=" col-24">
        <h2 class="text-white m-md-t-5 text-md-start text-center m-t-3 m-b-10 m-t-md-0 m-md-b-0 ">
            {% trans %}
            Envíe sus datos
            {% endtrans %}
        </h2>
    </div>

    <div class="form-group col-md-12 m-md-t-3">
        {{ form_widget(form.name,{'attr':{'class':'form-control ','placeholder':'Nombre Completo'|trans}}) }}
    </div>
    <div class="form-group col-md-12 m-md-t-3">
        {{ form_widget(form.mail,{'attr':{'class':'form-control ','placeholder':'Correo electrónico'|trans}}) }}
    </div>
    <div class="form-group col-md-8 m-t-1">
        {{ form_widget(form.position,{'attr':{'class':'form-control ','placeholder':'Cargo'|trans}}) }}
    </div>
    <div class="form-group col-md-8 m-t-1">
        {{ form_widget(form.institution,{'attr':{'class':'form-control ','placeholder':'Institución'|trans}}) }}
    </div>
    <div class="form-group col-md-8 m-t-1">
        {{ form_widget(form.country,{'attr':{'class':'form-control ','placeholder':'País'|trans}}) }}

    </div>
    <div class="form-group col-md-24 m-t-1">
        {{ form_widget(form.message,{'attr':{'class':'form-control ','placeholder':'Mensaje'|trans}}) }}
    </div>
    <div class=" col-md-24 m-t-1 d-flex align-items-center m-t-3">


        {{ form_widget(form.newsletter,{'attr':{'class':'="m-r-1'}}) }}
        <label for="cbox2" class="text-white m-l-1">
            {% trans %}
            Suscríbase al Newsletter.
            {% endtrans %}
        </label>
    </div>
    <div class=" col-md-24 m-t-1 d-flex align-items-center m-t-1">
        {{ form_widget(form.privacy,{'attr':{'class':'="m-r-1'}}) }}
        <label for="cbox2" class="text-white m-l-1">
            {% trans %}He leído y acepto que mis datos serán tratados conforme al aviso de privacidad que se encuentra{% endtrans %} 
            <a href="assets/pdf/política.pdf" class="text-white"
               target="_blank"><u>
                    {% trans %}
                        aquí
                    {% endtrans %}</u></a>
        </label>
    </div>
    <div class="col-md-8 ml-auto m-t-3 m-md-t-2">
        <button type="submit" class="btn btn-block btn-send">{% trans %}Enviar{% endtrans %}</button>
    </div>
</div>



{{ form_end(form) }}