{% extends 'base.html.twig' %}

{% block title %}<title>Scalahed - Higher Education</title>{% endblock %}

{% block body %}
    <div class="container">
        <section  class="services-wrap  m-md-t-7 m-t-interior service_animate start_animation">
            <div class="row ">
                <div class="col-md-16 mx-auto a-opacity-t">
                    <h1 class="text-primary text-md-center  ">
                        {% trans %}
                            ¿Qué hacemos?
                        {% endtrans %}
                    </h1>

                    <h4 class="text-primary text-md-center m-t-2  ">
                        {% trans %}
                            Scala Higher Education los invita a formar parte de la virtualidad, de la mano de nuestros expertos.
                        {% endtrans %}
                    </h4>
                </div>
            </div>
            <div class="row m-0 m-t-3 contaiter-img single-slider-mobile a-opacity-b">

                <div class="col-lg-8 p-0 d-flex align-items-end">
                    <img src="{{ asset('build/images/model/a.svg') }}" alt="" class="img-fluid"/>
                </div>
                <div class="col-lg-8 ">
                    <img src="{{ asset('build/images/model/b.svg') }}" alt="" class="img-fluid"/>
                </div>
                <div class="col-lg-8 p-0 d-flex align-items-end">
                    <img src="{{ asset('build/images/model/c.svg') }}" alt="" class="img-fluid"/>
                </div>

            </div>
        </section>
    </div>
    <div class="container-fluid " id="service-1">
        <section  class="model">
            <div class="row bg-secondary">
                <div class="col">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-20 mx-auto container-title a-s-1">
                                <h4 class="text-center text-dark m-y-3 a-opacity">
                                    {% trans %}
                                        Juntos, podemos contribuir al desarrollo de nuestra región y el mundo.
                                    {% endtrans %}
                                </h4>
                            </div>
                            <div class="col-md-15 mx-auto">
                                <div class="row m-t-5 a-s-1">
                                    <div class="col-md-12 a-opacity">
                                        <h2 class="text-md-start text-center">
                                            {% trans %}
                                                Modelo Scala
                                            {% endtrans %}
                                        </h2>
                                    </div>

                                </div>
                                <div class="row justify-content-center a-s-2" id="service-2">
                                    <div class="col-15 col-md-12 justify-content-md-end  justify-content-center d-flex a-opacity">
                                        <span class="indicator">
                                            1
                                        </span>
                                        <span class="description">
                                            {% trans %}
                                                Etapa de presentación
                                            {% endtrans %}
                                        </span>
                                    </div>
                                    <div class="col-md-12 justify-content-md-end  justify-content-center d-flex a-opacity">
                                        <span class="information">
                                            <div class="circle">
                                                <p>
                                                    {% trans %}
                                                        IES (Institución de Educación Superior) conoce a profundidad a Scala y sus servicios.
                                                    {% endtrans %}
                                                </p>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row justify-content-center a-s-3" id="service-3">
                                    <div class="col-15 col-md-12 justify-content-md-end  justify-content-center d-flex a-opacity">
                                        <span class="indicator">
                                            2
                                        </span>
                                        <span class="description">
                                            {% trans %}
                                                Etapa de diagnóstico
                                            {% endtrans %}
                                        </span>
                                    </div>
                                    <div class="col-md-12 justify-content-md-end  justify-content-center d-flex a-opacity">
                                        <span class="information">
                                            <div class="circle">
                                                <p>
                                                    {% trans %}
                                                        Scala realiza un análisis de la universidad para establecer un diagnóstico de la operación, alcances deseados, recursos disponibles, modelo educativo, mercado, etc.
                                                    {% endtrans %}
                                                </p>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row justify-content-center a-s-4" id="service-4">
                                    <div class="col-15 col-md-12 justify-content-md-end  justify-content-center d-flex a-opacity">
                                        <span class="indicator">
                                            3
                                        </span>
                                        <span class="description">
                                            {% trans %}
                                                Etapa de planeación
                                            {% endtrans %}
                                        </span>
                                    </div>
                                    <div class="col-md-12 justify-content-md-end  justify-content-center d-flex a-opacity">
                                        <span class="information">
                                            <div class="circle">
                                                <p>
                                                    {% trans %}
                                                        Conforme a las necesidades de
                                                        la IES y al diagnóstico realizado, Scala presenta un modelo financiero y comercial, sostenible.
                                                    {% endtrans %}
                                                </p>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row justify-content-center a-s-5" id="service-5">
                                    <div class="col-15 col-md-12 justify-content-md-end  justify-content-center d-flex a-opacity">
                                        <span class="indicator">
                                            4
                                        </span>
                                        <span class="description">
                                            {% trans %}
                                                Etapa de adecuación
                                            {% endtrans %}
                                        </span>
                                    </div>
                                    <div class="col-md-12 justify-content-md-end  justify-content-center d-flex a-opacity">
                                        <span class="information">
                                            <div class="circle">
                                                <p>
                                                    {% trans %}
                                                        Conjuntamente se revisa el modelo a seguir desde el ámbito académico, comercial, operativo y financiero, para realizar los ajustes pertinentes.
                                                    {% endtrans %}
                                                </p>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row justify-content-center a-s-6" id="service-6">
                                    <div class="col-15 col-md-12 justify-content-md-end  justify-content-center d-flex a-opacity">
                                        <span class="indicator">
                                            5
                                        </span>
                                        <span class="description">
                                            {% trans %}
                                                Etapa contractual
                                            {% endtrans %}
                                        </span>
                                    </div>
                                    <div class="col-md-12 justify-content-md-end  justify-content-center d-flex a-opacity">
                                        <span class="information">
                                            <div class="circle">
                                                <p>
                                                    {% trans %}
                                                        Negociación y firma contractual
                                                    {% endtrans %}
                                                </p>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row justify-content-center m-b-5 a-s-7" id="service-7">
                                    <div class="col-15 col-md-12 justify-content-md-end  justify-content-center d-flex a-opacity">
                                        <span class="indicator">
                                            6
                                        </span>
                                        <span class="description">
                                            {% trans %}
                                                Etapa de implementación
                                            {% endtrans %}
                                        </span>
                                    </div>
                                    <div class="col-md-12 justify-content-md-end  justify-content-center d-flex a-opacity">
                                        <span class="information">
                                            <div class="circle">
                                                <p>
                                                    {% trans %}
                                                        Poner en marcha el proyecto.
                                                    {% endtrans %}
                                                </p>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>

    <section class="solutions a-s-8" id="service-8">
        <div class="container">
            <div class="row">
                <div class="col-md-16 col-21 mx-auto a-opacity-t">
                    <h2 class="text-center text-primary m-t-4 m-b-5">
                        {% trans %}
                            Soluciones a la medida
                        {% endtrans %}
                    </h2>
                </div>
            </div>
        </div>
        <div class="container cont-scrool">
            <div class="row container-md">
                <div class="col-24 mx-auto d-flex m-t-1 m-b-5 position-relative">
                    <div class="circle text-center a-opacity">
                        <p>
                            {% trans %}
                                Análisis de mercado
                                y selección
                                de programas
                            {% endtrans %}
                        </p>
                        <img src="{{ asset('build/images/model/arrow.svg') }}" alt="" class="decor-top"/>
                        <img src="{{ asset('build/images/model/arrow.svg') }}" alt="" class="decor-bottom"/>
                    </div>
                    <div class="circle text-center a-opacity time-a">
                        <p>
                            {% trans %}
                                Virtualización de programas
                            {% endtrans %}
                        </p>
                        <img src="{{ asset('build/images/model/arrow.svg') }}" alt="" class="decor-top"/>
                        <img src="{{ asset('build/images/model/arrow.svg') }}" alt="" class="decor-bottom"/>
                    </div>
                    <div class="circle text-center a-opacity time-b">
                        <p>
                            {% trans %}
                                Captación
                                de estudiantes –
                                marketing digital
                                y matriculación
                            {% endtrans %}
                        </p>
                        <img src="{{ asset('build/images/model/arrow.svg') }}" alt="" class="decor-top"/>
                        <img src="{{ asset('build/images/model/arrow.svg') }}" alt="" class="decor-bottom"/>
                    </div>
                    <div class="circle text-center a-opacity time-c">
                        <p>
                            {% trans %}
                                Modelo de acompañamiento, seguimiento y permanencia
                            {% endtrans %}
                        </p>
                        <img src="{{ asset('build/images/model/arrow.svg') }}" alt="" class="decor-top"/>
                        <img src="{{ asset('build/images/model/arrow.svg') }}" alt="" class="decor-bottom"/>
                    </div>
                    <div class="circle text-center a-opacity time-d">
                        <p>
                            {% trans %}
                                Tecnología aplicada a
                                la educación superior
                            {% endtrans %}
                        </p>
                        <img src="{{ asset('build/images/model/arrow.svg') }}" alt="" class="decor-top"/>
                        <img src="{{ asset('build/images/model/arrow.svg') }}" alt="" class="decor-bottom"/>
                    </div>
                    <div class="circle text-center a-opacity time-e">
                        <p>
                            {% trans %}
                                Bootcamps, cursos cortos, cursos internacionales, certificaciones
                            {% endtrans %}
                        </p>
                        <img src="{{ asset('build/images/model/arrow.svg') }}" alt="" class="decor-top"/>
                        <img src="{{ asset('build/images/model/arrow.svg') }}" alt="" class="decor-bottom"/>
                    </div>
                </div>

            </div>
        </div>
    </section>



{% endblock %}
